<div nz-row>

    <ng-container *ngIf="userview?.staff >= 951">
         <div nz-col nzSpan="6" style="margin-top: 10px;">
             <app-search-list [view]="1" [(ngModel)]="sample" (ngModelChange)="listChange($event)"></app-search-list>
         </div>
 
         <div nz-col nzSpan="18" *ngIf="user">
             <ul>
                 <li class="terminate" (click)="terminateModalOpen()"><div><i nz-icon nzType="close" nzTheme="outline"></i></div>Terminate</li>
                 <li class="leave" (click)="putonLeaveModal = !putonLeaveModal"><div><i nz-icon nzType="eye-invisible" nzTheme="outline"></i></div>Put On Leave</li>
             </ul>
         </div>
 
         <div nz-col nzSpan="24" *ngIf="userview">
             <nz-tabset *ngIf="user && userview" [nzTabPosition]="'top'" [nzSelectedIndex]="nzSelectedIndex" [nzType]="'card'">
                 <nz-tab nzTitle="Personal" (nzClick)="view(0)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[1] != '1'" nzTitle="Contacts" (nzClick)="view(1)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[2] != '1'"  nzTitle="Pay" (nzClick)="view(2)"></nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[4] != '1'" nzTitle="Leave App" (nzClick)="view(3)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[5] != '1'" nzTitle="Reminders" (nzClick)="view(4)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[6] != '1'" nzTitle="OP Notes" (nzClick)="view(5)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[7] != '1'" nzTitle="HR Notes" (nzClick)="view(6)"> </nz-tab>
 
                 <nz-tab [nzDisabled]="userview.staffRecordView[8] != '1'" nzTitle="Competencies" (nzClick)="view(7)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[9] != '1'" nzTitle="Training" (nzClick)="view(8)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[10] != '1'" nzTitle="Incident" (nzClick)="view(9)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[12] != '1'" nzTitle="Document" (nzClick)="view(10)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[14] != '1'" nzTitle="Time & Attendance" (nzClick)="view(11)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[18] != '1'"  nzTitle="Position" (nzClick)="view(12)"> </nz-tab>
                 <nz-tab [nzDisabled]="userview.staffRecordView[19] != '1'" nzTitle="Groupings & Preferences" (nzClick)="view(13)"> </nz-tab>
             </nz-tabset>
         </div>
 
         <nz-empty *ngIf="user == null" style="margin-top:8rem" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
             [nzNotFoundContent]="contentTpl">
             <ng-template #contentTpl>
                 <p>Select Staff</p>
             </ng-template>
         </nz-empty>
 
         <div nz-col nzSpan="24">
             <router-outlet></router-outlet>
         </div>
    </ng-container>
 
    <ng-container *ngIf="userview?.staff < 951">
       <nz-result nzSubTitle="Sorry, you are not authorized to access the Staff function">
         <div nz-result-extra></div>
       </nz-result>
    </ng-container>
 
 </div>
 
 <nz-modal [nzWidth]="800" [nzStyle]="{ top: '20px' }" [(nzVisible)]="terminateModal" nzTitle="Termination" (nzOnCancel)="terminateModal = false">
   <div nz-row [formGroup]="terminateGroup">
       <form nz-form [nzLayout]="'vertical'" [formGroup]="terminateGroup" >
           <nz-form-item>
             <nz-form-label [nzSpan]="24" nzFor="email">Date of Termination</nz-form-label>
             <nz-form-control [nzSpan]="16" nzErrorTip="Provide date of termination">
               <nz-date-picker formControlName="terminateDate"></nz-date-picker>
             </nz-form-control>
           </nz-form-item >
         </form>
 
         <div nz-row>
           <label for="">Current Leave Balances </label>
           <nz-table  nzSize="small" #basicTable [nzData]="leaveBalanceList">
               <thead>
                 <tr>
                   <th>Leave Type</th>
                   <th>Leave Description</th>
                   <th>Pro Rata Date</th>
                   <th>Balance Hours</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let data of basicTable.data">
                   <td>{{ data.leaveTypeCode }}</td>
                   <td>{{ data.leaveDescription }}</td>
                   <td>{{ data.proRataDate | date: 'M/d/yyyy'  }}</td>
                   <td>{{ data.balanceHours }}</td>
                 </tr>
               </tbody>
             </nz-table>
         </div>
 
         <div nz-row class="checks">
           <label nz-checkbox formControlName="deletePending">Delete any pending Leave Applications</label>
           <label nz-checkbox formControlName="unallocUnapproved">Unallocate any unapproved entries</label>
           <label nz-checkbox formControlName="unallocMaster">Unallocate Master Roster</label> 
         </div>
     </div>
 
   <div *nzModalFooter>
     <button nz-button nzType="default" (click)="terminateModal = false">Cancel</button>
     <button nz-button nzType="primary" (click)="terminate()"  [nzLoading]="isConfirmLoading">Terminate</button>
   </div>
 </nz-modal>
 
 <app-leave-application *ngIf="user" [open]="putonLeaveModal" [user]="user"></app-leave-application>
 