<nz-modal [(nzVisible)]="open" [nzStyle]="{ top: '20px' }" [nzWidth]="800" nzTitle="Add New Referral" (nzOnCancel)="handleCancel()">
    
    <div nz-row>
        <div class="flexy">
        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Profile Information" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Contact Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Address Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="GP Details" nzDescription=""></nz-step>

                <nz-step class="mini" nzTitle="Other Contacts" nzDescription=""></nz-step>

                <!-- <nz-step class="mini" nzTitle="NDIA/MAC/DVA ID Number" nzDescription=""></nz-step> -->

                <nz-step class="mini" nzTitle="Administration" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Followups" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Required Info" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content" >

                <div nz-row *ngIf="current == 0" [formGroup]="referralGroup">

                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <input nz-input (keypress)="onKeyPress($event)" placeholder="Surname"  #sample formControlName="lastname" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()"  />
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <input nz-input (keypress)="onKeyPress($event)" placeholder="Firstname" formControlName="firstname" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()"  />
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <input nz-input (keypress)="onKeyPress($event)" placeholder="Middlename" formControlName="middlename" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()"  />
                            </div>
                        </div>
                    </div>

                    <div nz-row nzGutter="32">
                     
                        <div nz-col nzSpan="5">
                            <div class="form-group">
                                <nz-select nzAllowClear nzPlaceHolder="Title" formControlName="title">
                                    <nz-option *ngFor="let l of titlesArr" [nzLabel]="l" [nzValue]="l"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                     
                        <div nz-col nzSpan="7">
                            <div class="form-group">
                                <nz-select nzAllowClear nzPlaceHolder="Gender" formControlName="gender">
                                    <nz-option *ngFor="let l of genderArr" [nzLabel]="l" [nzValue]="l"></nz-option>
                                </nz-select>
                            </div>
                        </div>                       
                        
                    </div>

                    <div nz-row >
                        <div nz-col nzSpan=12>
                            <div class="form-group">
                                <nz-date-picker nzPlaceHolder="Birthdate" (nzOnOpenChange)="dateOpenChange($event)" formControlName="dob" [nzFormat]="dateFormat" [nzDefaultPickerValue]="defaultDate"></nz-date-picker>
                            </div>
                        </div>                       
                    </div>
                    
                    <div class="account-name" [class.error]="accountTaken">{{ referralGroup.get('accountNo').value }}</div>
                    <div class="message" *ngIf="accountTaken" [class.error]="accountTaken">Account is taken</div>
                    <div class="message" *ngIf="accountTaken == false" [class.error]="accountTaken">Account is available</div>
                </div>

                <div nz-row *ngIf="current == 1">
                    <button class="botton success" (click)="addContact()">Add Contact</button>

                    <div [formGroup]="referralGroup">
                        <div nz-row nzGutter="16" formArrayName="contacts" *ngFor="let item of referralGroup.get('contacts')['controls']; let i = index;">
                            <div class="ref-form" [formGroupName]="i">
                                <div class="close"><i nz-icon nzType="close" nzTheme="outline" (click)="deleteCont(i)"></i></div>
                                <div nz-col nzSpan="12">
                                    <label for="">Type</label>
                                    <nz-radio-group formControlName="contacttype" (ngModelChange)="contactTypeChange(i)">
                                        <label nz-radio nzValue="MOBILE">Mobile</label>
                                        <label nz-radio nzValue="EMAIl">Email</label>
                                        <label nz-radio nzValue="HOME">Home</label>
                                        <label nz-radio nzValue="WORK">Work</label>
                                    </nz-radio-group>
                                </div>
                                <div nz-col nzSpan="12">
                                    <label for="">Detail</label>
                                    <app-phonefax *ngIf="isPhoneNumber(item)" [isMobile]="item.value.contacttype == 'MOBILE'" formControlName="contact"></app-phonefax>
                                    <input nz-input *ngIf="!isPhoneNumber(item)" formControlName="contact" autocomplete="nofill"  />

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div nz-row *ngIf="current == 2">
                    <button class="botton success" (click)="addAddress()">Add Address</button>

                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="addresses" *ngFor="let item of referralGroup.get('addresses')['controls']; let i = index;">
                            <div class="ref-form" [formGroupName]="i">
                                <div class="close"><i nz-icon nzType="close" nzTheme="outline" (click)="deleteAdd(i)"></i></div>
                                <div nz-row nzGutter="16">
                                    <div class="form-group" nz-col nzSpan="12">
                                        <label for="">Description</label>
                                        <nz-select nzAllowClear nzPlaceHolder="Description" formControlName="type">
                                            <nz-option *ngFor="let _add of addressType" [nzLabel]="_add" [nzValue]="_add"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="form-group" nz-col nzSpan="24">
                                        <label for="">Address</label>
                                        <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                    </div>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <label for="">Suburb & Postcode</label>
                                        <suburb formControlName="suburb"></suburb>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 3">
                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="gpDetails" *ngFor="let item of referralGroup.get('gpDetails')['controls']; let i = index;">
                            <div class="ref-form" [formGroupName]="i">

                                <div class="close"><i nz-icon nzType="close" nzTheme="outline" (click)="deleteOther(i)"></i></div>


                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Contact Group</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="contactGroup" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select a Contact Group">
                                                <nz-option *ngFor="let d of contactGroups" [nzLabel]="d" [nzValue]="d"></nz-option>
                                            </nz-select>

                                            <!-- <nz-select nzAllowClear formControlName="contactGroup">
                                                <nz-option *ngFor="let l of branches" [nzLabel]="l" [nzValue]="l"></nz-option>
                                            </nz-select> -->
                                        </div>
                                    </div>
                                </div>
                                
                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="8">
                                        <div class="form-group">
                                            <label for="">Type</label>
                                            <input nz-input formControlName="type" readonly autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="16">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input nz-input formControlName="name" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 1</label>
                                            <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 2</label>
                                            <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Suburb</label>
                                            <suburb formControlName="suburb"></suburb>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input nz-input formControlName="email" autocomplete="nofill" />
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 1</label>
                                            <app-phonefax formControlName="phone1"></app-phonefax>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 2</label>
                                            <app-phonefax formControlName="phone1"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Mobile</label>
                                            <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Fax</label>
                                            <app-phonefax formControlName="fax"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 4">
                    <button class="botton success" (click)="addOtherContacts()">Add Other Contacts</button>


                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="otherContacts" *ngFor="let item of referralGroup.get('otherContacts')['controls']; let i = index;">
                            <div class="ref-form" [formGroupName]="i">

                                <div class="close"><i nz-icon nzType="close" nzTheme="outline" (click)="deleteOther(i)"></i></div>


                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Contact Group</label>
                                                <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="contactGroup" (ngModelChange)="contactGroupChange(referralGroup.get('otherContacts')['controls'],i)" nzShowSearch nzAllowClear
                                                nzPlaceHolder="Select a Contact Group">
                                                <nz-option *ngFor="let d of contactGroups" [nzLabel]="d" [nzValue]="d"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="8">
                                        <div class="form-group">
                                            <label for="">Type</label>

                                            <nz-select formControlName="type"  nzShowSearch nzAllowClear>
                                                <nz-option *ngFor="let d of referralGroup.get('otherContacts')?.controls[i]?.get('contactList')?.value" [nzLabel]="d" [nzValue]="d"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="15">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input nz-input formControlName="name" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 1</label>
                                            <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 2</label>
                                            <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Suburb</label>
                                            <suburb formControlName="suburb"></suburb>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input nz-input formControlName="email" autocomplete="nofill" />
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 1</label>
                                            <app-phonefax formControlName="phone1"></app-phonefax>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 2</label>
                                            <app-phonefax formControlName="phone1"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Mobile</label>
                                            <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                                        </div>
                                    </div>
        
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Fax</label>
                                            <app-phonefax formControlName="fax"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

           
                <div nz-row *ngIf="current == 5">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Branch</label>
                            <nz-select nzAllowClear nzPlaceHolder="Branch" formControlName="branch">
                                <nz-option *ngFor="let l of branches" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select>
                        </div>
                        <div class="form-group">
                            <label for="">Agency Category</label>
                            <nz-select nzAllowClear nzPlaceHolder="Agency Category" formControlName="agencyDefinedGroup">
                                <nz-option *ngFor="let l of agencies" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select>
                        </div>
                        <div class="form-group">
                            <label for="">Case Manager</label>
                            <nz-select nzAllowClear nzPlaceHolder="Case Manager" formControlName="recipientCoordinator">
                                <nz-option *ngFor="let l of managers;let i = index" [nzLabel]="l.description" [nzValue]="l.description"></nz-option>
                            </nz-select>
                        </div>


                        <div class="form-group" style="margin-top:5rem">
                            <label for="">NDIA / MAC / DVA ID Number</label>
                            <input nz-input formControlName="ndisNumber" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />

                            <!-- <nz-select nzAllowClear nzPlaceHolder="NDIA / MAC / DVA ID Number" formControlName="ndisNumber">
                                <nz-option *ngFor="let l of managers;let i = index" [nzLabel]="l.description" [nzValue]="l.description"></nz-option>
                            </nz-select> -->
                        </div>

                    </div>
                </div>

                <div nz-row *ngIf="current == 6">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">  
                            <label for="">Notifications</label>
                            <!-- <nz-select nzAllowClear nzPlaceHolder="Notifications" formControlName="notifications">
                                <nz-option *ngFor="let l of notifications" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select> 
                            <nz-checkbox-group [(ngModel)]="notifCheckBoxGroup" (ngModelChange)="log(notifCheckBoxGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>

                            -->
                            <nz-checkbox-group [(ngModel)]="notifCheckBoxes" (ngModelChange)="notif(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        
                            <!--    <div class="staff-wrapper">
                                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                                    <div nz-row>
                                        <div nz-col nzSpan="24" *ngFor="let notify of notifCheckBoxes">
                                            <label nz-checkbox [nzValue]="notify.label" [(ngModel)]="notify.disabled" [ngModelOptions]="{standalone: true}">{{ notify.label }}</label>
                                        </div>
                                        <div nz-col nzSpan="24" *ngFor="let notify of notifCheckBoxes">
                                            <label nz-checkbox [nzValue]="notify.label" [(ngModel)]="notify.checked" [ngModelOptions]="{standalone: true}">{{ notify.label }}</label>
                                        </div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div> -->

                            
                        </div>
                        
                    </div>
                </div>

                <div nz-row *ngIf="current == 7">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Followup</label>
                            <!-- <nz-select nzAllowClear nzPlaceHolder="Followup" formControlName="followup">
                                <nz-option *ngFor="let l of followups" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select> -->
                            <nz-checkbox-group [(ngModel)]="notifFollowUpGroup" (ngModelChange)="followup(notifFollowUpGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 8">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Documents</label>
                            <!-- <nz-select nzAllowClear formControlName="document">
                                <nz-option *ngFor="let l of documentlist" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select> -->
                            <nz-checkbox-group [(ngModel)]="notifDocumentsGroup" (ngModelChange)="doc(notifDocumentsGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>

                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 9">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Data List</label>
                            <!-- <nz-select nzAllowClear formControlName="dataList">
                                <nz-option *ngFor="let l of datalist" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select> -->
                            <div *ngFor="let l of datalist"> 
                                <a [href]="l.link" target="_blank">{{l.form}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 9" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" (click)="add()" *ngIf="current === 9" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

