<!-- ITEM -->
<nz-modal [(nzVisible)]="itemOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="itemGroup">
                        <li formArrayName="programs" *ngFor="let program of itemGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ itemGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                    <div nz-row nzGutter="24" [formGroup]="itemGroup"> 
                        <div nz-col nzSpan="24">
                            <div class="form-group">
                                <nz-select formControlName="referralType" style="width:11.3rem" nzAllowClear nzPlaceHolder="Referral Type">
                                    <!-- <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option> -->
                                </nz-select>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <nz-date-picker formControlName="date" (ngModelChange)="onChange($event)" nzPlaceHolder="Date"></nz-date-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <input nz-input placeholder="Ref/No" formControlName="refNo" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div nz-row nzGutter="24" [formGroup]="itemGroup">
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <nz-select  nzAllowClear nzPlaceHolder="Quantity" style="width:8rem" formControlName="quantity">
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <nz-select ngModel="lucy" nzAllowClear nzPlaceHolder="Unit" style="width:8rem" formControlName="unit">
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>

                    <div nz-row nzGutter="24" [formGroup]="itemGroup">
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <input nz-input placeholder="Charge" formControlName="charge"/>
                            </div>
                        </div>
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <label nz-checkbox formControlName="gst">GST</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 2">
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <nz-date-picker  nzPlaceHolder="Date"></nz-date-picker>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 3">
                    <div nz-col nzSpan="24">
                        <div class="form-group">
                            <nz-radio-group [(ngModel)]="radioValue">
                                <label nz-radio nzValue="A">CASE NOTE</label>
                                <label nz-radio nzValue="B">OP NOTE</label>
                                <label nz-radio nzValue="C">CLINICAL NOTE</label>
                              </nz-radio-group>

                              <textarea rows="4" nz-input [(ngModel)]="inputValue" style="margin:15px 0"></textarea>
                        </div>
                    </div>

                    <div nz-col nzSpan="12">
                        <div class="form-group">
                            <nz-select ngModel="lucy" nzAllowClear nzPlaceHolder="Unit" style="width:8rem">
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                            </nz-select>
                        </div>
                    </div>

                    <div nz-col nzSpan="12">
                        <div class="form-group">
                            <label nz-checkbox [(ngModel)]="checked">Publish To Mobile App</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- ADMIN -->

<nz-modal [(nzVisible)]="adminOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="adminGroup">
                        <li formArrayName="programs" *ngFor="let program of adminGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ adminGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- DECEASE -->

<nz-modal [(nzVisible)]="deceaseOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="adminGroup">
                        <li formArrayName="programs" *ngFor="let program of adminGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ adminGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- REINSTATE -->

<nz-modal [(nzVisible)]="reinstateOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="adminGroup">
                        <li formArrayName="programs" *ngFor="let program of adminGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ adminGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<!-- SUSPEND -->

<nz-modal [(nzVisible)]="suspendOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="suspendGroup">
                        <li formArrayName="programs" *ngFor="let program of suspendGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ suspendGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<!-- DISCHARGE -->

<nz-modal [(nzVisible)]="dischargeOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="dischargeGroup">
                        <li formArrayName="programs" *ngFor="let program of dischargeGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ dischargeGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<!-- WAITLIST -->

<nz-modal [(nzVisible)]="waitListOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="waitListGroup">
                        <li formArrayName="programs" *ngFor="let program of waitListGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ waitListGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- ADMIT -->

<nz-modal [(nzVisible)]="admitOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="admitGroup">
                        <li formArrayName="programs" *ngFor="let program of admitGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ admitGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- ASSESS -->

<nz-modal [(nzVisible)]="assessOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="assessGroup">
                        <li formArrayName="programs" *ngFor="let program of assessGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ assessGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- NOT PROCEED -->

<nz-modal [(nzVisible)]="notProceedOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="notProceedGroup">
                        <li formArrayName="programs" *ngFor="let program of notProceedGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ notProceedGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- REFER ON -->

<nz-modal [(nzVisible)]="referOnOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="referOnGroup">
                        <li formArrayName="programs" *ngFor="let program of referOnGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ referOnGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>                           
                        </li>
                    </ul>
                    asdas
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<!-- REFER IN -->

<nz-modal [(nzVisible)]="referInOpen" [nzWidth]="800" [nzTitle]="whatOptionVar?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <div nz-row>
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Program " nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Reminders" nzDescription=""></nz-step>
            </nz-steps>
        
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" >
                    <ul [formGroup]="referInGroup">
                        <li formArrayName="programs" *ngFor="let program of referInGroup.get('programs')['controls'];let i = index">
                            <div [formGroupName]="i">
                                <label nz-checkbox formControlName="checked"> {{ referInGroup.get('programs')['controls'][i].value.program }}</label>
                            </div>
                           
                        </li>
                    </ul>
                </div>

                <div nz-row *ngIf="current == 1">
                   
                </div>

                <div nz-row *ngIf="current == 2">
                    
                </div>

                <div nz-row *ngIf="current == 3">
                    
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>