ul{
    list-style: none;
    height: 20rem;
    overflow: auto;
}
.scroll-overflow{
    max-height: 20rem;
    overflow: auto;
}
li{
    margin-bottom: 5px;
}

nz-checkbox-group >>> label{
    display: block;
}

nz-time-picker, nz-select, nz-date-picker{
    width:100% !important;
}
.space-btm{
    margin-bottom:1rem;
}

.space-top{
    margin-top:1rem;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin:0;
}
li.selected{
    background:#cae9ff;
}
ul.program-list li{
    padding: 4px 10px;
    font-size: 11px;
    cursor: pointer;
}
h5.available{
    color: #50c550;
    margin: 5px;
}
h5.unavailable{
    color: #ff4949;
    margin: 5px;
}
textarea{
    height:20rem;
}



.scroll-overflow > nz-radio-group label{
    margin-bottom:5px;
    display:block;
}