.inline{
    display:inline-block;
    margin-right: 1rem;
    margin-bottom:8px;
}
span{
    font-size:11px;
    margin-right:1rem;
}
i{
    font-size: 1.5rem;
    cursor:pointer;
}
i:hover{
    color:#c74848;
}
.filter-icons{
    margin-top: 15px;
    z-index: 10;
    float:right;
}
nz-select{
    width:100%;
}
button{
    margin-right:5px;
}