<nz-modal
[(nzVisible)]="isVisible"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()"
[nzWidth]="1050"
>
<ng-template #modalTitle>Recipient Details</ng-template>

<ng-template #modalContent >
<div class="flexy" style="min-height:25rem;" >

    <div nz-col nzSpan="24">
        <nz-tabset  [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="General" (nzClick)="view(0)"> </nz-tab>
            <nz-tab nzTitle="Funding Agreed Services & Careplan" (nzClick)="view(1)"> </nz-tab>
            <nz-tab nzTitle="Case/Progress Notes" (nzClick)="view(2)"></nz-tab>
            <nz-tab nzTitle="Operational Notes" (nzClick)="view(3)"> </nz-tab>            
            <nz-tab nzTitle="Support Workers" (nzClick)="view(4)"> </nz-tab>
            
            
        </nz-tabset>

            

        <div nz-row *ngIf="nzSelectedIndex==0" nzGutter="6">
                <div nz-col nzGutter="1" nzSpan="12" >
                    <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="lstAddress" [nzLoadingDelay]="3000">
                    
                    <thead style="margin-left: 20px;width:100%">
                        <tr>
                            <th style="background-color: #002060;" class="left"></th> 
                            <th style="background-color: #002060; color: white;" class="left">Address Details</th> 
                            <th style="background-color: #002060;" class="left"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of lstAddress;let i = index;"  
                        [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
    
                        <td [nzShowCheckbox]="true" [nzChecked]="data.primaryAddress=='1'"></td>    
                        <!-- <td><input type="checkbox" [checked]="data.primaryAddress=='1'"/></td> -->
                        <td class="left" >                                         
                                    {{data.type}}                                                                           
                            </td>
                            <td class="left" >                                         
                                {{data.address}}                                                                           
                        </td>
                        </tr>
                    </tbody>
                    
                    </nz-table> 
                    <nz-table ##basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="lstphones"  >
                    
                    <thead >
                        <tr>                        
                            <th style="background-color: #002060; " class="left"></th> 
                            <th style="background-color: #002060; color: white" class="left" >Contacts Details</th> 
                            <th style="background-color: #002060; " class="left"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of lstphones;let i = index;"  
                        [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                        
                        
                    <td [nzShowCheckbox]="true" [nzChecked]="data.primaryPhone=='True'"></td>    
                        <!-- <td><input type="checkbox" [checked]="data.primaryPhone=='True'"/></td> -->
                        <td class="left" >                                         
                                    {{data.type}}                                                                         
                        </td>
                         <td class="left" >                                         
                                {{data.detail}}                                                                           
                        </td>
                        </tr>
                    </tbody>
                    
                    </nz-table> 
                
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="lstNextOfKins" [nzScroll]="{x:'700px', y:'150px'}">
                    <thead style="margin-left: 20px;width:100%">
                        <tr>                        
                            <th style="background-color: #002060; " class="left"></th> 
                            <th style="background-color: #002060; color: white" class="left" ></th> 
                            <th style="background-color: #002060; color: white" class="left">Next of Kin & Other Contacts</th> 
                            <th style="background-color: #002060; " class="left"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of lstNextOfKins;let i = index;"  
                        [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                                    
                            <td class="left" >                                         
                                        {{data.contact_Type}}                                                                         
                            </td>
                            <td class="left" >                                         
                                    {{data.contact_name}}                                                                           
                            </td>
                            
                            <td class="left" >                                         
                                {{data.phones}}                                                                           
                            </td>
                            <td class="left" >                                         
                                {{data.addressDetails}}                                                                           
                            </td>
                        </tr>
                    </nz-table> 
                     <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                     [nzData]="Info.notes" >
                         <thead style="margin-left: 20px;width:100%">
                             <tr>
                                 <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="alert" nzTheme="outline"></i> Roster Alerts</th> 
                                
                             </tr>
                         </thead>
                         <tbody>
                             <tr>                     
                             <td class="left" >                                
                                
                                <textarea *ngIf="Info.notes" rows="4" nz-input>{{Info.notes}}</textarea>                      
                             </td>                     
                            
                             </tr>                
                     </nz-table> 
                    </div>
                 <div nz-col nzGutter="2" nzSpan="12">
                 
                     <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                     [nzData]="Info.contactIssues" >
                         <thead style="margin-left: 20px;width:100%">
                             <tr>
                                 <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="message" nzTheme="outline"></i> Contact Issues</th> 
                                
                             </tr>
                         </thead>
                         <tbody>
                             <tr>                     
                             <td class="left" >                                
                                
                                <textarea *ngIf="Info.contactIssues" rows="4" nz-input>{{Info.contactIssues}}</textarea>                      
                             </td>                     
                            
                             </tr>                
                     </nz-table> 
                
                    <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                     [nzData]="Info.specialConsiderations" >
                         <thead style="margin-left: 20px;width:100%">
                             <tr>
                                 <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="alert" nzTheme="outline"></i> Runsheet Alerts</th>                                 
                             </tr>
                         </thead>
                         <tbody>
                             <tr>                     
                             <td class="left" >                                
                                <textarea *ngIf="Info.specialConsiderations" rows="4" nz-input>{{Info.specialConsiderations}}</textarea>                      
                             </td>                                                 
                             </tr>                
                     </nz-table> 
                
                     <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                     [nzData]="lstTasks" [nzScroll]="{ y: '250px' }">
                         <thead style="margin-left: 20px;width:100%">
                             <tr>
                                 <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="file-text" nzTheme="outline"> </i> Service Task List</th>                                 
                             </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let data of lstTasks;let i = index;"  
                            [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                                        
                                <td class="left" >                                         
                                            {{data.service_Type}}                                                                         
                                </td>
                            </tr>
                        </tbody>        
                     </nz-table> 
                
                </div>
          
            </div>
    
        <div nz-row *ngIf="nzSelectedIndex==1" nzGutter="6">

            
            <label style="padding:10px;  background-color: #002060; color: #ffffff; margin-right: 10px; font-size: 16px;" class="left">Funding Agreed Services & Careplan</label> 

            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="lstApprovedProgram" [nzScroll]="{ y: '100px' }">
                <thead style="margin-left: 20px;width:100%">
                    <tr>
                        <th style="background-color: #002060; color: white; " class="left"></th>
                        <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="file-text" nzTheme="outline"> </i> Approved Programs</th>                                 
                        <th style="background-color: #002060; color: white; " class="left"></th>
                        <th style="background-color: #002060; color: white; " class="left"></th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let data of lstApprovedProgram;let i = index;"  
                   [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                               
                       <td class="left" >                                         
                            {{data.funding_Source}}                                                                         
                       </td>
                       <td class="left" >                                         
                            {{data.program}}                                                                         
                       </td>
                        <td class="left" >                                         
                            {{data.coOrdinator}}                                                                         
                        </td>
                        <td class="left" >                                         
                            {{data.details}}                                                                         
                        </td>
                   </tr>
               </tbody>        
            </nz-table> 
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="lstApprovedServices" [nzScroll]="{ y: '100px' }">
            <thead style="margin-left: 20px;width:100%">
                <tr>
                    <th style="background-color: #002060; color: white; " class="left"></th>
                    <th style="background-color: #002060; color: white; " class="left"> <i nz-icon nzType="file-text" nzTheme="outline"> </i> Approved Services</th>                                 
                    <th style="background-color: #002060; color: white; " class="left"></th>
                    
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of lstApprovedServices;let i = index;"  
               [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                           
                   <td class="left" >                                         
                        {{data.activity}}                                                                         
                   </td>
                   <td class="left" >                                         
                        {{data.funded_Under}}                                                                         
                   </td>
                    <td class="left" >                                         
                        {{data.service_Profile}}                                                                         
                    </td>
               </tr>
           </tbody>        
        </nz-table> 
        <nz-table #columnTable [nzScroll]="{ y: '300px' }" [nzPageSize]="5" [nzShowPagination]="false"  [nzLoading]="loading" 
        [nzData]="lstCarerPlans"  >
    <!-- [nzFrontPagination]="true" [nzShowSizeChanger]="true" [nzPaginationPosition]="'top'" [nzPageSizeOptions]="[5, 10, 20,25, 30]" -->
    <thead >
        <tr>                        
            
            <th style="background-color: #002060; color: white " class="left">Current Carer plans</th> 
            
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let data of lstCarerPlans;let i = index;"  
        [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
        
        <td  style="width: 100%;">  
                <tr  >
                  <td style="width: 20px;">  {{data.planNumber}}  </td>
                  <td style="width: 600px;">   {{data.planName}}   </td>
                </tr>
                <tr >
                    <td style="width: 240px;">  
                        <tr>
                            <td>Start Date: </td>
                            <td>{{data.planStartDate}}  </td>
                            
                        </tr>
                        <tr>
                            <td>End Date: </td>
                            <td>{{data.planEndDate}}  </td>
                         
                        </tr>
                        <tr>
                            <td>Co PayAmount: </td>                            
                            <td>: {{data.planCoPayAmount}}  </td>
                        </tr>
                        <tr>
                            <td>Created By: </td>
                        </tr>
                        <tr style="background: linear-gradient(to bottom,  #ff9999 0%, #ff6666 100%); color:white; text-align: center;">
                            <td>
                                {{data.planCreator}}
                            </td>
                        </tr>
                    </td>  
                    <td style="width: 600px; padding-left: 20px;" >                                         
                        <!-- {{data.detail}}      -->
                            <textarea rows="4" disabled  nz-input>{{data.planDetail}}</textarea>                    
                    </td>
      
                </tr>
        </td>
      </tr>            
              
    </tbody>
    
    </nz-table> 
   
        </div>

        
        <div nz-row *ngIf="nzSelectedIndex==2" nzGutter="6">
            <gnotes [user]="Person"></gnotes>
            <!-- <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="lstCaseNotes">

            <thead >
                <tr>                        
                        <th class="left" style="width: 60%">Details</th>
                        <th>Detail Date</th>
                        <th>Creator </th>
                        <th class="action">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let data of lstCaseNotes;let i = index;"  
                [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                    <td class="left">
                        <div class="word-break">
                            {{ data.detail  }}
                        </div>
                    </td>
                    <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.creator || '-' | uppercase  }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)">Delete</a>
                    </td>                              
                
                </tr>
            </tbody>
            
            </nz-table>  -->
         </div>
         <div nz-row *ngIf="nzSelectedIndex==3" nzGutter="6">
            <gnotes [user]="Person"></gnotes>

            <!-- <nz-table #columnTable [nzScroll]="{ y: '500px' }" [nzPageSize]="5" [nzShowPagination]="false"  [nzLoading]="loading" 
                [nzData]="lstOpNotes"  >
            
            <thead >
                    <tr>
                        <th class="left" style="width: 60%">Details</th>
                        <th>Detail Date</th>
                        <th>Creator </th>
                        <th class="action">Action</th>
                    </tr>                   
             
                
            </thead>
            <tbody>
                <tr  *ngFor="let data of lstOpNotes;let i = index;"  
                [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                <td class="left">
                    <div class="word-break">
                        {{ data.detail  }}
                    </div>
                </td>
                <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                <td>{{ data.creator || '-' | uppercase  }}</td>
                <td>
                    <a (click)="showEditModal(i)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?" nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(i)">Delete</a>
                </td>

                </tr>
            </tbody>
            
            </nz-table>  -->
         </div>
         <div nz-row *ngIf="nzSelectedIndex==4" nzGutter="6">

            
            <label style="padding:10px;  background-color: #002060; color: #ffffff; margin-right: 10px; font-size: 16px;" class="left">Permanently Rostered Staff</label> 

            <nz-table #fixedTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="lstPermanentRosters" [nzScroll]="{x:'600px', y:'250px' }" [nzBordered]="true"> 
                <thead >
                    <tr>
                        <th  nzWidth="50px"  style="background-color: #002060; color: white; " >Start Time</th>
                        <th  nzWidth="50px"  style="background-color: #002060; color: white; " >Duration</th>                                 
                        <th  nzWidth="100px" style="background-color: #002060; color: white; " >Activity</th>
                        <th  nzWidth="50px"  style="background-color: #002060; color: white; " >Staff</th>
                        <th  nzWidth="100px" style="background-color: #002060; color: white; " >Analysis</th>
                        <th  nzWidth="100px" style="background-color: #002060; color: white; " >Program</th>
                        <th  nzWidth="100px" style="background-color: #002060; color: white; " >Dataset Type</th>
                        <th  nzWidth="50px"  style="background-color: #002060; color: white; " >Service Cost</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let data of lstPermanentRosters;let i = index;"  
                   [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                               
                       <td nzWidth="50px"  >                                         
                            {{data.start_Time}}                                                                         
                       </td>
                       <td  nzWidth="50px" >                                         
                            {{data.duration}}                                                                         
                       </td>
                        <td  nzWidth="100px" >                                         
                            {{data.activity}}                                                                         
                        </td>
                        <td  nzWidth="50px" >                                         
                            {{data.staff}}                                                                         
                        </td>
                        <td nzWidth="50px"  >                                         
                            {{data.analysis}}                                                                         
                        </td>
                        <td  nzWidth="100px">                                         
                            {{data.program}}                                                                         
                        </td>
                        <td  nzWidth="100px">                                         
                            {{data.dataset_Type}}                                                                         
                        </td>
                        <td  nzWidth="50px">                                         
                            {{data.service_Cost}}                                                                         
                        </td>
                   </tr>
               </tbody>        
            </nz-table> 
            
            <div nz-row style="padding:10px; background-color: #002060; margin-top: 10px;   margin-right: 10px; font-size: 16px;  display: flex; justify-content: left;"  nz-col="24">
                <label style=" color: #ffffff; width:280px" class="left">Currently Rostered Staff Starting From</label> 
                <!-- <nz-date-picker [nzFormat]="dateFormat" formControlName="date1"></nz-date-picker> -->
                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date1" ></nz-date-picker>
                <label style="padding-left: 5px; padding-right: 5px; color: #ffffff; width:30px"class="left">To</label> 
                <!-- <nz-date-picker [nzFormat]="dateFormat" formControlName="date2"></nz-date-picker> -->
                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date2" ></nz-date-picker>
  
                <button type="button" (click)="load_roster()"><i nz-icon nzType="sync" nzTheme="outline"></i></button>
            </div>
            <nz-table #fixedTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="lstCurrentRosters" [nzScroll]="{x:'1200px', y:'250px' }" [nzBordered]="true">
            <thead style="margin-left: 20px;width:100%">
                <tr>
                    <th nzWidth="50px" style="background-color: #002060; color: white; " class="left">Date</th>
                    <th nzWidth="50px" style="background-color: #002060; color: white; " class="left">Start Time</th>
                    <th nzWidth="50px" style="background-color: #002060; color: white; " class="left">Duration</th>                                 
                    <th nzWidth="100px" style="background-color: #002060; color: white; " class="left">Activity</th>
                    <th nzWidth="100px" style="background-color: #002060; color: white; " class="left">Staff</th>
                    <th nzWidth="100px" style="background-color: #002060; color: white; " class="left">Analysis</th>
                    <th nzWidth="100px" style="background-color: #002060; color: white; " class="left">Program</th>
                    <th nzWidth="100px" style="background-color: #002060; color: white; " class="left">Dataset Type</th>
                    <th nzWidth="50px" style="background-color: #002060; color: white; " class="left">Service Cost</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of lstCurrentRosters;let i = index;"  
                   [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                  
                   
                   <td nzWidth="50px" class="left" >                                         
                    {{data.date}}                                                                         
                    </td>
                    <td nzWidth="50px" class="left" >                                         
                        {{data.start_Time}}                                                                         
                    </td>
                    <td nzWidth="50px" class="left" >                                         
                            {{data.duration}}                                                                         
                    </td>
                    <td nzWidth="100px" class="left" >                                         
                        {{data.activity}}                                                                         
                    </td>
                    <td nzWidth="100px" class="left" >                                         
                        {{data.staff}}                                                                         
                    </td>
                    <td nzWidth="100px" class="left" >                                         
                        {{data.analysis}}                                                                         
                    </td>
                    <td nzWidth="100px" class="left" >                                         
                        {{data.program}}                                                                         
                    </td>
                    <td nzWidth="100px" class="left" >                                         
                        {{data.dataset_Type}}                                                                         
                    </td>
                    <td nzWidth="50px" class="left" >                                         
                        {{data.service_Cost}}                                                                         
                    </td>

            </tr>
           </tbody>        
        </nz-table> 
        </div>

        </div> <!--Tab Div-->
</div>  <!--Modal Div-->
</ng-template>

<ng-template #modalFooter>
    
    <button nz-button nzType="primary" >
        <span>Done</span>
    </button>
     <button nz-button nzType="default" (click)="handleCancel()">Cancel</button> 
    
</ng-template>
</nz-modal>