<nz-modal
[(nzVisible)]="isVisible"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()"
[nzWidth]="900"
>
<ng-template #modalTitle>Staff Contact Details : {{AccountNo.data}}</ng-template>

<ng-template #modalContent >
<div class="flexy" style="min-height:21rem;" >
    <div nz-col nzSpan="24">
      
        <nz-tabset  [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="General" (nzClick)="view(0)"> </nz-tab>           
            <nz-tab nzTitle="Operational Notes & History" (nzClick)="view(1)"> </nz-tab>
            <nz-tab nzTitle="Competencies" (nzClick)="view(2)"> </nz-tab>        
            
        </nz-tabset>
       
        <div nz-row *ngIf="nzSelectedIndex==0"  >
            <div nz-col nzGutter="1" nzSpan="12" >
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="lstAddress" [nzLoadingDelay]="3000">
                
                <thead style="margin-left: 20px;width:100%">
                    <tr>
                        <th style="background-color: #002060;" class="left"></th> 
                        <th style="background-color: #002060; color: white;" class="left">Address Details</th> 
                        <th style="background-color: #002060;" class="left"></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstAddress;let i = index;"  
                    [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">

                    <td [nzShowCheckbox]="true" [nzChecked]="data.primaryAddress=='1'"></td>    
                    <!-- <td><input type="checkbox" [checked]="data.primaryAddress=='1'"/></td> -->
                    <td class="left" >                                         
                                {{data.type}}                                                                           
                        </td>
                        <td class="left" >                                         
                            {{data.address}}                                                                           
                    </td>
                    </tr>
                </tbody>
                
                </nz-table> 
                <nz-table ##basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="lstphones" [nzLoadingDelay]="3000">
                
                <thead >
                    <tr>                        
                        <th style="background-color: #002060; " class="left"></th> 
                        <th style="background-color: #002060; color: white" class="left" >Contacts Details</th> 
                        <th style="background-color: #002060; " class="left"></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstphones;let i = index;"  
                    [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                    
                    
                <td [nzShowCheckbox]="true" [nzChecked]="data.primaryPhone=='True'"></td>    
                    <!-- <td><input type="checkbox" [checked]="data.primaryPhone=='True'"/></td> -->
                    <td class="left" >                                         
                                {{data.type}}                                                                         
                    </td>
                     <td class="left" >                                         
                            {{data.detail}}                                                                           
                    </td>
                    </tr>
                </tbody>
                
                </nz-table> 
               
            </div>
     
             <div nz-col nzGutter="1" nzSpan="12">
               
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="StaffInfo.stF_Notes" >
                    <thead style="margin-left: 20px;width:100%">
                        <tr>
                            <th style="background-color: #002060; color: white " class="left">General Notes</th> 
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left" >
                            <textarea *ngIf="StaffInfo.stF_Notes" rows="4" nz-input>{{StaffInfo.stF_Notes}}</textarea>                      
                               
                        </td>                     
                        
                        </tr>                
                </nz-table> 
           
                 <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                 [nzData]="StaffInfo.contactIssues" >
                     <thead style="margin-left: 20px;width:100%">
                         <tr>
                             <th style="background-color: #002060; color: white; " class="left">Contact Issues</th> 
                            
                         </tr>
                     </thead>
                     <tbody>
                         <tr>                     
                         <td class="left" >
                            
                            <textarea *ngIf="StaffInfo.contactIssues" rows="4" nz-input>{{StaffInfo.contactIssues}}</textarea>
                         </td>                     
                        
                         </tr>                
                 </nz-table> 
            
            </div>
        </div>
         <div nz-row *ngIf="nzSelectedIndex==1" nzGutter="6">
            <gnotes [user]="Person"></gnotes>

        </div>
        
        <div nz-row *ngIf="nzSelectedIndex==2" nzGutter="6">
            <!-- ,  y:'500px' -->
            <label style="padding:10px;  background-color: #002060; color: #ffffff; margin-right: 10px; font-size: 16px;" class="left">Staff Competencies & Skills</label> 
            <nz-table #basicTable [nzSize]="'small'"  [nzScroll]="{x:'1200px', y:'300px'}" [nzBordered]="true"  [nzShowPagination]="false"  [nzLoading]="loading" 
                [nzData]="lstCompetencies" >
            <!-- [nzFrontPagination]="true" [nzShowSizeChanger]="true" [nzPaginationPosition]="'top'" [nzPageSizeOptions]="[5, 10, 20,25, 30]" -->
            <thead >
                <tr >                        
                    <th   nzWidth="20%" style="background-color: #d7dbe4;" >Competency</th> 
                    <th   nzWidth="10%" style="background-color: #d7dbe4;" >Expiry Date</th> 
                    <th   nzWidth="10%" style="background-color: #d7dbe4;" >Reminder Date</th> 
                    <th   nzWidth="10%" style="background-color: #d7dbe4;" >Mandatory</th> 
                    <th   nzWidth="10%" style="background-color: #d7dbe4;" >Cert./Reg. No.</th> 
                    <th   nzWidth="10%" style="background-color: #d7dbe4;" >Compeletion Date</th> 
                    <th   nzWidth="30%" style="background-color: #d7dbe4;" >Notes</th> 
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let data of lstCompetencies;let i = index;"  
                [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">
                                
                <td  >  
                    {{data.competency}}
                </td>
                 <td   >               
                    <!-- {{data.expiry_Date | date: 'dd'}}/{{data.expiry_Date | date:'MM'}}/{{data.expiry_Date | date: 'yyyy'}}                            -->
                    {{data.expiry_Date | date}}                   
                </td>
                <td   >                           
                    {{data.reminder_Date | date}}                 
                    <!-- {{data.reminder_Date | date: 'dd'}}/{{data.reminder_Date | date:'MM'}}/{{data.reminder_Date | date: 'yyyy'}}                            -->
                                   
                </td>

                <td    [nzShowCheckbox]="true" [nzChecked]="data.mandatory=='True'" >                                         
                              
                </td>
                <td   >                                         
                    {{data.address1}}                   
                </td>
                <td   >                                         
                    {{data.completion_Date}}                   
                </td>
                <td   >                                         
                    {{data.notes}}                   
                </td>
                                
                </tr>
            </tbody>
            
            </nz-table> 
           

        </div>
    </div>
</div>
</ng-template>

<ng-template #modalFooter>
    
    <button nz-button nzType="primary" (click)="handleCancel()">
        <span>Done</span>
    </button>
     <button nz-button nzType="default" (click)="handleCancel()">Cancel</button> 
    
</ng-template>
</nz-modal>