<div ng-row >
    <div nz-row>
        <button class="botton success" (click)="modalOpen = true;populate()">Add Contact</button>
    </div>

    <div nz-row nzGutter="16" style="padding-top:2rem">
        
        <div *ngIf="loading" style="text-align:center">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <ng-container *ngIf="kinsArray?.length > 0 && !loading">
            <div nz-col nzSpan="5">
                <ul>
                    <li *ngFor="let list of kinsArray">
                        <div (click)="showDetails(list); selected = list" [class.active]="selected == list">
                            <h4>{{ list.name | uppercase  }}</h4>
                            <span>{{list.type || '-' | uppercase}}</span>
                            <i nz-icon nzType="right" nzTheme="outline"></i>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div nz-col nzSpan="18">
                <div nz-col nzSpan="12">
                    <form nz-form [nzNoColon]="true" [formGroup]="kindetailsGroup">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Type</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <input type="text" nz-input formControlName="type" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Name</nz-form-label>
                            <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
                                <input type="text" nz-input formControlName="name" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Address 1</nz-form-label>
                            <nz-form-control [nzSpan]="19" >
                                <input type="text" nz-input formControlName="address1" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Address 2</nz-form-label>
                            <nz-form-control [nzSpan]="19" >
                                <input type="text" nz-input formControlName="address2" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Suburb</nz-form-label>
                            <nz-form-control [nzSpan]="19" >
                                <suburb formControlName="suburbcode"></suburb>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Phone 1</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <app-phonefax formControlName="phone1"></app-phonefax>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Phone 2</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <app-phonefax formControlName="phone2"></app-phonefax>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Mobile</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Fax</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <app-phonefax formControlName="fax"></app-phonefax>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Email</nz-form-label>
                            <nz-form-control [nzSpan]="19" >
                                <input type="text" nz-input formControlName="email" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">List Order</nz-form-label>
                            <nz-form-control [nzSpan]="5" >
                                <input type="text" nz-input formControlName="listOrder" />
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-label [nzSpan]="5">Notes</nz-form-label>
                            <nz-form-control [nzSpan]="12" >
                                <textarea rows="4" nz-input formControlName="notes"></textarea>
                            </nz-form-control>
                        </nz-form-item>
            
                    </form>
                </div>
            
                <div nz-col nzOffset="2" nzSpan="10">
                    <div nz-row nzGutter="16">
                        <div nz-col>
                            <button nz-button nzType="primary" (click)="save()"><i nz-icon nzType="save"
                                    nzTheme="outline"></i>Save</button>
                            <button nz-button nzType="default" nzDanger 
                                nz-popconfirm
                                nzPopconfirmTitle="Do you want to delete contact?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="delete()"
                                ><i nz-icon nzType="delete"
                                    nzTheme="outline"></i>Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container>
            <nz-empty *ngIf="kinsArray?.length == 0 && !loading"></nz-empty>
        </ng-container>
        
    </div>   
</div>


<nz-modal [nzWidth]="700" [(nzVisible)]="modalOpen" [nzTitle]="'Add Contacts'" (nzOnCancel)="handleCancel()">
    <div class="flexy">

        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Contact Group" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="User Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Address & Contact Details" nzDescription=""></nz-step>
        </nz-steps>

        <nz-divider class="full-height" nzType="vertical"></nz-divider>

        <div class="steps-content" [formGroup]="inputForm" style="width: 60%;">
            <div *ngIf="current == 0">
                <label for="">Contact Group</label>
                <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="group" nzShowSearch nzAllowClear
                    nzPlaceHolder="Select a Contact Group">
                    <nz-option *ngFor="let d of contactGroups" [nzLabel]="d" [nzValue]="d"></nz-option>
                </nz-select>
            </div>

            <div *ngIf="current == 1">
                <div nz-row class="mrg-btm-2">
                    <label for="">Contact Type</label>
                    <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="type"  nzShowSearch nzAllowClear
                    nzPlaceHolder="Select a Contact Type">
                    <nz-option *ngFor="let d of contactTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                <div nz-row class="mrg-btm-2">
                    <ng-container *ngIf="inputForm.get('type').value != 'DOCTORS' ">
                        <input type="text" class="uppercase" nz-input placeholder="Name" formControlName="name" />
                    </ng-container>

                    <ng-container *ngIf="inputForm.get('type').value == 'DOCTORS' ">
                        <nz-select [nzAutoClearSearchValue]="false" [nzServerSearch]="false" [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="name" (ngModelChange)="doctorChange($event)" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select a Doctor">
                            <nz-option *ngFor="let d of doctors" [nzLabel]="d.name" [nzValue]="d"></nz-option>
                        </nz-select>
                    </ng-container>

                </div>
                <div nz-row class="mrg-btm-2">
                    <textarea style="margin: 0" rows="4" nz-input placeholder="notes" formControlName="notes"></textarea>
                </div>
            </div>
            <div *ngIf="current == 2">
                <div nz-row class="mrg-btm">
                    <input type="text" nz-input placeholder="Address 1" formControlName="address1" />
                </div>
                <div nz-row class="mrg-btm">
                    <input type="text" nz-input placeholder="Address 2" formControlName="address2" />
                </div>
                <div nz-row class="mrg-btm">
                    <suburb type="text" [placeholder]="'Suburb'" formControlName="suburbcode" ></suburb>
                </div>
                <div nz-row class="mrg-btm" nzGutter="16">
                    <div nz-col class="contact" nzSpan="12">
                        <label for="">Phone 1</label>
                        <app-phonefax formControlName="phone1"></app-phonefax>
                    </div>
                    <div nz-col class="contact" nzSpan="12">
                        <label for="">Phone 2</label>
                        <app-phonefax formControlName="phone2"></app-phonefax>
                    </div>
                </div>
                <div nz-row class="mrg-btm" nzGutter="16">
                    <div nz-col class="contact" nzSpan="12">
                        <label for="">Mobile</label>
                        <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                    </div>
                    <div nz-col class="contact" nzSpan="12">
                        <label for="">Fax</label>
                        <app-phonefax formControlName="fax"></app-phonefax>
                    </div>
                </div>
                <div nz-row  class="mrg-btm">
                    <div nz-col nzSpan="15">
                        <input type="text" nz-input placeholder="Email" formControlName="email" />
                    </div>
                </div>
                <div nz-row nzSpan="12" class="mrg-btm">
                    <div nz-col nzSpan="10">
                        <input type="text" nz-input placeholder="List Order" formControlName="listOrder" />
                    </div>                    
                </div>
            </div>
        </div>

    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 2" [disabled]="!nextRequired">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="add()" *ngIf="current === 2">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>