<!-- <nz-select nzShowSearch nzAllowClear [nzLoading]="loading" [nzPlaceHolder]="viewResult()" [nzMaxTagCount]="1000" [(ngModel)]="searchModel" (ngModelChange)="change($event)" >
    <nz-option *ngFor="let l of lists" [nzLabel]="l.accountNo" [nzValue]="l"></nz-option>   
</nz-select> -->

<div class="search-container">
    <ng-select 
        [items]="lists" 
        [virtualScroll]="true"
        bindLabel="accountNo" 
        [dropdownPosition]="'bottom'"
        [clearable]="false"
        [closeOnSelect]="true"
        (focus)="isOpen=true"
        (ngModelChange)="change($event)"
        [(ngModel)]="searchModel">
    </ng-select>

    <i nz-icon nzType="phone" nzTheme="outline" (click)="phoneModal=true" nz-tooltip nzTooltipTitle="Phone Search"></i>
    <!-- <i nz-icon nzType="close-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Clear Phone Filter"></i> -->
</div>
<div class="search-container" *ngIf="view == 1">
    <!-- <nz-radio-group [(ngModel)]="staffType" (ngModelChange)="changeStatus($event)">
        <label nz-radio nzValue="A"> View {{(view == 1) ? 'Staff' : 'Recipient'}}  </label>
        <label nz-radio nzValue="B" class="viewAll"> View All {{(view == 1) ? 'Staff' : 'Recipient'}} </label>
    </nz-radio-group> -->
    <nz-button-group style="margin-top:5px">
        <button nz-button class="special-btns" [class.ant-btn-primary]="!activeInactive" (click)="changeStatus('A')">VIEW STAFF</button>
        <button nz-button class="special-btns" [class.ant-btn-primary]="activeInactive" (click)="changeStatus('B')">VIEW ALL STAFF</button>
    </nz-button-group>
</div>

<div class="search-container" *ngIf="view == 0">
    <!-- <nz-radio-group [(ngModel)]="staffType" (ngModelChange)="changeStatus($event)">
        <label nz-radio nzValue="A"> View {{(view == 1) ? 'Staff' : 'Recipient'}}  </label>
        <label nz-radio nzValue="B" class="viewAll"> View All {{(view == 1) ? 'Staff' : 'Recipient'}} </label>
    </nz-radio-group> -->
    <nz-button-group style="margin-top:5px">
        <button nz-button class="special-btns" [class.ant-btn-primary]="!activeInactive" (click)="changeStatus('A')">VIEW RECIPIENTS</button>
        <button nz-button class="special-btns" [class.ant-btn-primary]="activeInactive" (click)="changeStatus('B')">VIEW ALL RECIPIENTS</button>
    </nz-button-group>
</div>





<nz-modal [(nzVisible)]="phoneModal" nzTitle="Phone Search" [nzFooter]="modalFooter" (nzOnCancel)="clearPhoneModal()">
    <div nz-row>
        <input nz-input placeholder="Phone #" [(ngModel)]="phoneSearch"  (keyup.enter)="searchPhone()" />
        <button nz-button nzType="primary" (click)="searchPhone()" nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>

    <div nz-row>
        <ul *ngIf="listPhoneRecipientsList?.length > 0">
            <li *ngFor="let list of listPhoneRecipientsList;let i = index" (click)="selected(i)" [class.selected]="selectedIndex == i">{{ list.accountNo}}</li>
        </ul>
    </div>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="clearPhoneModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="gotoRecipient()">Select</button>
    </ng-template>
</nz-modal>
