<div nz-row>
    <div nz-col nzSpan="20">
        <button class="botton success" (click)="showAddModal()">Add Funding</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">#</th>
                    <th>Source</th>
                    <th>Program</th>
                    <th>Status</th>
                    <th>Case Manager</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.source }}</td>
                    <td>{{ data.program }}</td>
                    <td>{{ data.status }}</td>
                    <td>{{ data.cm }}</td>
                    <td>{{ data.details }}</td>                   
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzWidth]="1050"  [(nzVisible)]="modalOpen"  (nzOnCancel)="handleCancel()">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
        <nz-tab nzTitle="Package Detail/s" (nzClick)="tabFindChange(0)"> </nz-tab>
        <nz-tab nzTitle="Supplements/Fees" (nzClick)="tabFindChange(0)"> </nz-tab>
    </nz-tabset>      
    <div *ngIf="tabFindIndex == 0">
        <form nz-form [formGroup]="packageDetailForm" >
            <div nz-row nzGutter="24">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Name / Title">Name / Title:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="name" style="text-transform: uppercase;" required readonly />
                            </div>
                        </div>

                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Notes">Notes:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>