<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showAddModal()">Add Goal</button>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="groupTypes">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Group</th>
                    <th>Mobile Alert</th>
                    <th>Notes</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.group}}</td>
                    <td></td>
                    <td>{{ data.notes }}</td>
                    <td class="action">
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showAddModal()">Add Goal</button>
        <nz-table #ss2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="groupPreferences">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Preference</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of ss2.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.preference}}</td>
                    <td>{{ data.notes }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- <nz-modal [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add Branch' : 'Edit Branch'"
    (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item *ngIf="addOREdit == 1">
                <nz-form-label [nzNoColon]="true">Branch</nz-form-label>
                <nz-form-control nzErrorTip="Branch is required!">
                    <nz-select formControlName="branch" nzAllowClear [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of alist" [nzValue]="d" [nzLabel]="d">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div class="form-group" *ngIf="addOREdit == 2">
                <label for="">Branch</label>
                <input nz-input formControlName="branch" disabled />
            </div>
        </div>
        <div nz-row>
            <div class="form-group">
                <label for="">Notes</label>
                <textarea rows="4" nz-input formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal> -->