<div style="padding:8px;">
    <div nz-row>
        <div nz-col nzSpan="24">
            <button class="botton success" (click)="showAddModal()">Add Service</button>
            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="tableData">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Activity</th>
                    <th>Funded Under</th>
                    <th>Status</th>
                    <th>Service Profile</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.activity}}</td>
                    <td>{{ data.funding }}</td>
                    <td>{{ data.status }}</td>
                    <td>{{ data.serviceProfile}}</td>
                    <td>
                        <a (click)="showEditModal(data.row_num)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?" nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
</div>
<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add New Service Profile Detail' : 'Edit Service Profile Detail'"
(nzOnCancel)="handleCancel()">
<div [formGroup]="inputForm">
    <div nz-row nzGutter="24" class="mrg-btm" >
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
            <nz-tab nzTitle="Service Information" (nzClick)="tabFindChange(0)"> </nz-tab>
        </nz-tabset>      
        <div *ngIf="tabFindIndex == 0">
            <div nz-row nzSpan="24">
                <div nz-col nzSpan="12"class="pad-r-5">
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Service Status and Funding">
                            <nz-card [nzSize]="'small'" nzTitle="Mandatory Details" style="border-color:red;">
                                <div nz-row nzJustify class="mrg-btm-half">
                                    <div nz-col nzSpan="5" class="text-right">
                                        <label nzFor="Status">Description : &nbsp;</label>
                                    </div>
                                    <div nz-col nzSpan="10">
                                        <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="status" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let stat of status" [nzLabel]="stat" [nzValue]="stat"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm-half">
                                    <div nz-col nzSpan="5" class="text-right">
                                        <label nzFor="Status">Program : &nbsp;</label>
                                    </div>
                                    <div nz-col nzSpan="13">
                                        <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="program" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let prog of program" [nzLabel]="prog.name" [nzValue]="prog.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm-half">
                                    <div nz-col nzSpan="5" class="text-right">
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <label nz-checkbox formControlName="includeCaseManagement">Include Case Management In Activities</label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm-half">
                                    <div nz-col nzSpan="5" class="text-right">
                                        <label nzFor="Status">Activity : &nbsp;</label>
                                    </div>
                                    <div nz-col nzSpan="13">
                                        <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="activity" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let activity of activities" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </nz-card>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Frequency and Duration">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Freq">Freq</label>
                                    <input nz-input [nzSize]="'small'" formControlName="freq" [disabled]="!this.inputForm.get('activity').value" />
                                </div>
                                <div nz-col nzSpan="8" class="text-left pad-r-5">
                                    <label for="Period">Period</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!this.inputForm.get('activity').value" formControlName="period" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let period of periods" [nzLabel]="period" [nzValue]="period"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Dur'n">Dur'n</label>
                                    <input nz-input [nzSize]="'small'" [disabled]="!this.inputForm.get('activity').value" formControlName="freq" />
                                </div>
                            </div>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Budget">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="6" class="text-left pad-r-5">
                                    <label for="Type">Type</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="budgetType" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let type of budgetTypes" [nzLabel]="type" [nzValue]="type"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Amount">Amount</label>
                                    <input nz-input [nzSize]="'small'" formControlName="bamount" />
                                </div>
                                <div nz-col nzSpan="6" class="text-left pad-r-5">
                                    <label for="Enforcement">Enforcement</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="enforcement" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let enforc of enforcement" [nzLabel]="enforc" [nzValue]="enforc"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="4" class="text-left pad-r-5">
                                    <label for="Starting">Starting</label>
                                    <nz-date-picker  formControlName="starting" [nzSize]="'small'" [nzFormat]="dateFormat"></nz-date-picker>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Special Pricing" [nzExtra]="extraTemplate">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="6" class="text-left pad-r-5">
                                    <label for="Bill Unit">Bill Unit</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!this.inputForm.get('specialPricing').value" formControlName="billunit" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let unit of billunit" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Amount">Amount</label>
                                    <input nz-input [nzSize]="'small'" [disabled]="!this.inputForm.get('specialPricing').value" formControlName="namount" />
                                </div>
                                <div nz-col nzSpan="2" class="text-left pad-r-5">
                                    <label for="GST">GST</label>
                                    <label nz-checkbox formControlName="gst"></label>
                                </div>
                                <div nz-col nzSpan="8" class="text-left pad-r-5">
                                    <label for="Bill To">Bill To</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="period" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let recip of listRecipients" [nzLabel]="recip.accountNo" [nzValue]="recip.accountNo"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify>
                                <label nz-checkbox formControlName="includeCaseManagement"> Exclude From Price Updates</label>
                            </div>
                        </nz-card>
                        <ng-template #extraTemplate>
                            <b>Use SPECIAL PRICING : </b> &nbsp;<label nz-checkbox formControlName="specialPricing"></label>
                        </ng-template>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Service Competencies" [nzExtra]="extraTemplatebtn" style="height:325px;overflow:scroll;">
                            <div nz-row nzSpan="24">
                                <div nz-col nzSpan="20"class="pad-r-5" style="width:100%;">
                                    <nz-table #basicTable nzWidth="100%" style="margin-top: 0px;" [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                                    [nzFrontPagination]="false" [nzData]="tableData">
                                    <thead>
                                        <tr>
                                            <th nzWidth="70%">Competency</th>
                                            <th nzWidth="10%">Mandatory</th>
                                            <th nzWidth="20%" class="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                                            <td>{{ data.activity}}</td>
                                            <td>{{ data.serviceProfile}}</td>
                                            <td>
                                                <a (click)="showComptencyEditModal(data.row_num)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?" nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="delete(i)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>    
                        
                    </nz-card>
                    <ng-template #extraTemplatebtn>
                        <button class="botton success" (click)="showCompetencyModal()">ADD</button>
                    </ng-template>
                </div>
                <div nz-row nzJustify>
                    <nz-card [nzSize]="'small'" nzTitle="Instruction / Notes" [nzExtra]="extraTemplatetwo">
                        <textarea rows="11" nz-input  formControlName="period" style="resize: none;"></textarea>
                    </nz-card>
                </div>
                <ng-template #extraTemplatetwo>
                    <b>Auto Insert Notes To Roaster : </b> &nbsp;<label nz-checkbox formControlName="includeCaseManagement"></label>
                </ng-template>
            </div>
        </div>
    </div>
</div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
</div>
</nz-modal>
<nz-modal [nzWidth]="500"  [(nzVisible)]="competencymodal" [nzTitle]="isUpdateCompetency == true ? 'EDIT REQUIRED COMPETENCIES' : 'SELECT REQUIRED COMPETENCIES'" (nzOnCancel)="handleCompetencyCancel()">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndexcomp">
        <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChangecomp(0)"> </nz-tab>
    </nz-tabset>      
    <div *ngIf="tabFindIndexcomp == 0">
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">    
                <div *ngIf="!isUpdateCompetency" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchCompetenncy($event)" [ngModelOptions]="{standalone: true}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let comp of competencyList">
                                <label nz-checkbox [nzValue]="comp.name" [(ngModel)]="comp.checked" (change)="onCompetencyCheckboxChange(comp,$event)" [ngModelOptions]="{standalone: true}">{{ comp.name }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div *ngIf="isUpdateCompetency">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Name / Title">Name / Title:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="competency" style="text-transform: uppercase;" required readonly />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Mandatory">Mandatory:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <label nz-checkbox formControlName="mandatory"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveCompetency()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>