<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showstaffUnApprovedModal()">Add Excluded Staff</button>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="excludedStaff">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.name}}</td>
                    <td>{{ data.notes }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showstaffApprovedModal()">Add Approved Staff</button>
        <nz-table #ss2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="includedStaff">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of ss2.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.name}}</td>
                    <td>{{ data.notes }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this branch?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [nzWidth]="400"  [(nzVisible)]="staffApproved" nzTitle="SELECT APPROVED STAFF" (nzOnCancel)="handleAprfCancel()">
    <form nz-form [formGroup]="inputForm" >
        <div nz-row nzGutter="24">    
            <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff To Be Approved</h4>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchStaff($event)" [ngModelOptions]="{standalone: true}" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let workers of careWorkers">
                            <label nz-checkbox [nzValue]="workers.accountno" [(ngModel)]="workers.checked" (change)="onCheckboxapprovedChange(workers,$event)" [ngModelOptions]="{standalone: true}">{{ workers.accountno }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveApprovedStaff()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>
<nz-modal [nzWidth]="400"  [(nzVisible)]="staffUnApproved" nzTitle="SELECT EXCLUDED STAFF" (nzOnCancel)="handleUnAprfCancel()">
    <form nz-form [formGroup]="inputForm" >
        <div nz-row nzGutter="24">    
            <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff To Be Excluded From Use</h4>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchStaffExcluded($event)" [ngModelOptions]="{standalone: true}" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let workerz of careWorkersExcluded">
                            <label nz-checkbox [nzValue]="workerz.accountno" [(ngModel)]="workerz.checked" (change)="onCheckboxUnapprovedChange(workerz,$event)" [ngModelOptions]="{standalone: true}">{{ workerz.accountno }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveExcludeStaff()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>