<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">Add Document</button>
        <app-upload-shared [(ngModel)]="user" (reload)="reload($event)"></app-upload-shared>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Created</th>
                    <th>Author</th>
                    <th>Modified</th>
                    <th>Filename</th>
                    <th>Type</th>
                    <th>Original Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.title  }}</td>
                    <td>{{ data.status }}</td>
                    <td>{{ data.classification }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.created | date: 'd/M/yyyy'  }}</td>
                    <td>{{ data.author }}</td>
                    <td>{{ data.modified | date: 'd/M/yyyy'  }}</td>
                    <td>{{ data.filename }}</td>
                    <td>{{ data.type }}</td>
                    <td>
                        <div class="limit-width">
                            {{ data.originalLocation }}
                        </div>
                    </td>
                    <td>
                        <a (click)="showEditModal(i)">Download</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="showEditModal(i)">View</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="addDocumentModal" [nzWidth]="800" nzTitle="Add Document" (nzOnCancel)="handleCancel()">

    <div class="flexy">

        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Templates" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Pick Filename" nzDescription=""></nz-step>
        </nz-steps>

        <nz-divider class="full-height" nzType="vertical"></nz-divider>

        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <ul>
                    <li *ngFor="let template of templates$ | async" (click)="selectDocument(template)">
                        <div [class.exist]="template?.exists" [class.not-exist]="!template?.exists">
                            <i nz-icon nzType="info-circle" *ngIf="!template?.exists"  nzTheme="outline"></i>
                            <i nz-icon nzType="check-circle" *ngIf="template?.exists" nzTheme="outline"></i>                     
                            {{ template.name }}
                        </div>
                    </li>
                </ul>
            </div>
            <div nz-row *ngIf="current == 1">
                <div nz-col nzSpan="10">
                    <label for="">Enter New Filename</label>
                    <input nz-input  />
                </div>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 1" >
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()" *ngIf="current === 1">
                <span>Done</span>
            </button>
        </ng-container>
    </div>

</nz-modal>