<div nz-row nzGutter="16">
    <nz-card [nzBodyStyle]="{'padding':'10px'}" nzTitle="NON SECURE NOTES AND ITEMS ON LOAN">
        <nz-card [nzBodyStyle]="{'padding':'10px'}" nzType="inner" nzTitle="MISCELLANEOUS NOTES (NON SECURE) ">
            <button class="botton success" (click)="showAddModal(2)" style="margin-bottom:10px">Save Changes</button>
            <textarea rows="6" nz-input></textarea>
        </nz-card>
        <nz-card [nzBodyStyle]="{'padding':'10px'}" nzType="inner" style="margin-top:16px;" nzTitle="ITEMS ON LOAN TO STAFF">
            <button class="botton success" (click)="showAddModal(2)">ADD NEW LOAN</button>
            <nz-table #tb2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="notesloans">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Loaned</th>
                        <th>Collected</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tb2.data;let i=index;trackBy: trackByFn">
                        <td>{{data.name}}</td>
                        <td>{{data.dateLoaned}}</td>
                        <td>{{data.collected}}</td>
                        <td>
                            <a (click)="showEditModal(2,i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a
                                nz-popconfirm
                                nzPopconfirmTitle="Are you sure delete this preference?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="delete(data.recordNumber)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </nz-card>
</div>


<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()" >
    <div nz-row [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label>{{ whatView == 1 ? 'Group' :  'Preference'}}</nz-form-label>
                <nz-form-control nzErrorTip="Required Field">
                    <nz-select formControlName="list" nzAllowClear nzPlaceHolder="" 
                    nzMode="multiple"
                    [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let list of listArray" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label>Notes</nz-form-label>
                <nz-form-control nzErrorTip="Required Field">
                    <textarea rows="4" nz-input formControlName="notes"></textarea>                    
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="processBtn()" [nzLoading]="isLoading">Save</button>
    </div>
</nz-modal>
<nz-drawer [nzWidth]="1000" [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="right" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" [src]="tryDoctype" width="950" height="600"></iframe> 
    </div>
</nz-drawer>