<div nz-row>
    <div nz-col>
        <button nz-button nzType="primary" (click)="handleOkTop()" style="float: right;"> <i nz-icon nzType="file-pdf"></i> Print </button>
        <div style="clear: both;"></div>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="tableData" style="margin-top:15px;">
            <thead>
                <tr>
                    <th class="left">Date</th>
                    <th>Training</th>
                    <th>Expiry Date</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.date  | date: 'dd/MM/yyyy'   }}</td>
                    <td>{{ data.training }}</td>
                    <td>{{ data.expiryDate }}</td>
                    <td>{{ data.notes }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-drawer [nzWidth]="1000" [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="right" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" [src]="tryDoctype" width="950" height="600"></iframe> 
    </div>
</nz-drawer>