<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzSpan="8">
        <nz-upload nzType="drag" [nzMultiple]="true" [nzLimit]="2" [nzAccept]="acceptedTypes"
            [nzCustomRequest]="customReq" [nzAction]="urlPath" (nzChange)="handleChange($event)" nzListType="picture"
            [(nzFileList)]="fileList2">

            <p class="ant-upload-drag-icon">
                <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">Click or drag file to this area to upload</p>
            <p class="ant-upload-hint">
                Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
            </p>
        </nz-upload>
    </div>
    <div nz-col nzSpan="16">
        <nz-spin *ngIf="loadDocument" nzSimple></nz-spin>
        <ul>
            <li *ngFor="let file of loadedFiles;let i = index">            
                <div>
                    <h4>{{ file.documentName }} - {{ file.filename }}</h4>
                    <div nz-row nzGutter="32" class="doc-wrapper">
                        <div nz-col nzSpan="8">
                            <label for="">Created</label> {{ file.created }}
                        </div>
                        <div div nz-col nzSpan="8">
                            <label for="">Modified</label> {{ file.modified }}
                        </div>
                    </div>
                    <div nz-row nzGutter="32" class="doc-wrapper">
                        <div nz-col nzSpan="8">
                            <label for="">Program</label> {{ file.program }}
                        </div>
                        <div div nz-col nzSpan="8">
                            <label for="">Discipline</label> {{ file.discipline }}
                        </div>
                        <div div nz-col nzSpan="8">
                            <label for="">Care Domain</label> {{ file.careDomain }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <nz-empty *ngIf="!loadDocument && loadedFiles?.length == 0"></nz-empty>
    </div>
</div>

<!-- <ng-template #iconTpl>
    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template> -->