<div class="daymanager-wrapper">
    <!-- <div class="div-resizable">
        <p>Let the user resize only the width of this div element.</p>
        <p>To resize: Click and drag the bottom right corner of this div element.</p>
    </div> -->
    <div class="header-wrapper" [class.fixed]="fixedHeader">
        <h3 class="date-month-name noselect header-wrapper">
            <i class="material-icons left" (click)="previousDate()"> keyboard_arrow_left
            </i>{{ startDate | date: 'MMMM yyyy' }}
            <i class="material-icons right" (click)="futureDate()"> keyboard_arrow_right </i>
        </h3>
       
        <div class="date-wrapper"  >
            <div *ngFor="let day of days; let col=index" class="cell" [class.five]="dayView == 5" [class.seven]="dayView == 7"
                [class.ten]="dayView == 10" [class.fourteen]="dayView == 14" [class.col-highlght]="HighlightColum_index==col">
                
                <div  [class.date-wrapper]="HighlightColum_index<0" (click)="HighlightColum(col)"    [class.dateweekend]="((day| date: 'EEE') == 'Sat' || (day| date: 'EEE') == 'Sun') && HighlightColum_index!=col" 
                 [class.col-highlght]="HighlightColum_index==col">
                    <div *ngIf="day == null" class="x-cancel" >
                        <span *ngIf="akonani?.length > 0">{{ akonani?.length }} selected</span>
                    </div>
                    <div *ngIf="day" class="calendar-dates"  >
                        <!-- ng-style ="{ ' background-color' : (Weekday(day)=='sat')? '#73c7af' : '#ffffff' }" -->
                        <div style="font-size:13px; padding: 5px;"> 
                            <span >{{ day | date: 'MMM dd' }}</span>
                        </div>
                        <div style="font-size:13px; "><span >{{ day | date: 'EEE' }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <div class="body-wrapper noselect"  *ngFor="let data of daymanager">
            <ng-container *ngFor="let day of days; let i = index" >
                <div class="cell" [attr.date]="day" [class.roster-container]="i > 0" [class.five]="dayView == 5"
                    [class.seven]="dayView == 7" [class.ten]="dayView == 10" [class.fourteen]="dayView == 14"
                    (mousedown)="deselect(null,$event)" (drop)="drop($event);$event.stopPropagation()"
                    (dragover)="dragOver($event)" >
                    <div *ngIf="i == 0">
                        <div style="font-size:14px; font-weight: bold; text-align: justify-self unset;">
                            <span *ngIf="data?.key.indexOf('BOOKED') > -1">UNASSIGNED BOOKINGS</span>
                            <span *ngIf="!(data?.key.indexOf('BOOKED') > -1)">{{ data?.key }}</span>
                            
                        </div>
                        <div style="font-size:12px; text-align: justify-self unset;" *ngIf="!(data?.key.indexOf('BOOKED') > -1)" >
                            <div >{{ data?.value[0].staffCategory}}</div>
                            <div >{{ data?.value[0].staffPhone}}</div>
                            <div >W1-WKD : {{ getWorkHours(data?.key ,'W1') }}</div>
                            <div >W2-WKD : {{ getWorkHours(data?.key ,'W2') }}</div>
                            <div >FN-WKD : {{ getWorkHours(data?.key ,'F') }}</div>
                            <!-- <div >TO-WKD : {{ getWorkHours(data?.key ,'T') }}</div> -->
                            <div >PP-WKD : {{ getWorkHours(data?.key ,'P') }}</div>
                        </div>
                    </div>
                    <ng-container *ngIf="i > 0" >
                        <ng-container *ngFor="let value of data.value | dmz: day;  " >
                           
                            <div class="data" *ngIf="!value.isLast && !value.isNone"
                                (dragstart)="dragStart($event,value)" (dragend)="dragEnd($event)"
                                (dblclick)="mousedblclick($event,value)"
                                (mouseenter)="mouseenter($event, value)"
                                (mousedown)="mousedown($event,value)" 
                                [class.selected]="value.isSelected"
                                [class.highlight]="HighlightColum_index==i">

                                <!--
                                    (mousemove)="mousemove($event,value)"

                                    (dblclick)="showDetail.emit(value)" 
                                    <div class="approve-logo"><i class="material-icons" *ngIf="value.status == '2'"> done
                                    </i>
                                </div> -->
                                <div [class.icon2]="dayView >= 10" >
                                    <!--  <div class="service-logo" [style.background-position]="getPositionImg(value)"> -->
                                
                                    <i nz-icon *ngIf="value.type==1" [nzType]="'question-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==2" [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==3" [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==4" [nzType]="'calendar'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==5" [nzType]="'car'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==6" [nzType]="'container'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==7" [nzType]="'dollar'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==8" [nzType]="'smile'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==9" [nzType]="'info-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==10" [nzType]="'van'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==11" [nzType]="'home'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==12" [nzType]="'team'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    <i nz-icon *ngIf="value.type==13" [nzType]="'minus-circle'" [nzTheme]="'outline'"  class="icon"></i>
                                    <i nz-icon *ngIf="value.type==14" [nzType]="'calendar-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="icon"></i>
                                    
                                    <strong title="{{ value.startTime}}-{{ value.endTime }}">{{ value.startTime}}-{{ value.endTime }}</strong>
                                      
                                    <i class="material-icons option showOption icon" option-click 
                                        (mousedownEmit)="mouseEmitter(value)" (click)="optionEmitter(value)"> more_horiz
                                    </i>
                                </div>
                                <div class="details" title="{{ value.recipient}} * {{ value.activity}} * {{value.notes.toUpperCase()}}"   [class.detail-more]="selectedRecordNo==value.recordno" ngbTooltip="I am Bootstrap Tooltip"
                                (click)="viewText(value)">{{ value.recipient}} * {{ value.activity}} * {{value.notes.toUpperCase()}} </div>
                            </div>
                            <div class="data total" *ngIf="value.isLast && !value.isNone">
                                <!-- *ngIf="value.isLast && !value.isNone" -->
                              
                                <span>Total Hours: {{ value.total | number: '1.2-2'}} </span>
                            </div>
                        
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    
    <div class="col-md-12 no-data" *ngIf="daymanager.length == 0 && !loading">
        <clr-alert [clrAlertClosable]="false">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                    No shifts currently!
                </span>
            </div>
        </clr-alert>
    </div>

    
</div>