<div style="padding:8px;">
    <div nz-row>
        <div nz-col>
            <button class="botton success" (click)="showAddModal()">Add Budget</button>
            <button nz-button nzType="primary" (click)="handleOkTop()" style="float: right;"> <i nz-icon nzType="file-pdf"></i> Print </button>
            <nz-table #basicTable nzBordered [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <!-- (click)="handleOkTop()"  -->
                <thead>
                    <tr>
                        <!-- <th nz-left>Budget Type</th> -->
                        <th nzLeft>Name</th>
                        <th class="left">Branch</th>
                        <th class="left">Funding Source</th>
                        <th class="left">Care Domains</th>
                        <th class="left">Budget Group</th>
                        <th class="left">Programe</th>
                        <th class="left">DataSet Code</th>
                        <th class="left">Activity</th>
                        <th class="left">Staff Team</th>
                        <th class="left">Staff Category</th>
                        <th class="left">Staff</th>
                        <th class="left">End Date</th>
                        <!-- <th class="left">Recepient</th> -->
                        <!-- <th class="left">Hours</th>
                        <th class="left">Dollars</th>
                        <th class="left">SPID</th>
                        <th class="left">STATE</th> -->
                        <th class="left" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;">
                        <!-- <td  nzLeft>{{ data.budgetType  }} </td> -->
                        <td  nzLeft>{{ data.description  }} </td>
                        <td class="left">{{ data.branch  }} </td>
                        <td class="left">{{ data.fundingSource  }} </td>
                        <td class="left">{{ data.careDomain  }} </td>
                        <td class="left">{{ data.budgetGroup  }} </td>
                        <td class="left">{{ data.program  }} </td>
                        <td class="left">{{ data.datasetCode === 'null' ? '' : data.datasetCodekm}}</td>
                        <td class="left">{{ data.activity === 'null' ? '' : data.activity}} </td>
                        <td class="left">{{ data.staffTeam}} </td>
                        <td class="left">{{ data.staffCategory  }} </td>
                        <td class="left">{{ data.staff  }} </td>
                        <td class="left">{{ data.end_date | date: 'dd/MM/y'  }} </td>
                        <!-- <td class="left">{{ data.recipient  }} </td>
                        <td class="left">{{ data.hours  }} </td>
                        <td class="left">{{ data.dollars  }} </td>
                        <td class="left">{{data.spid === 'null' ? '' : data.spid}} </td>
                        <td class="left">{{ data.state }}</td> -->
                        <td nzRight><a (click)="showEditModal(i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Budget List ?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    
    <nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="'Add/Change Budget'" (nzOnCancel)="handleCancel()">
        <div class="flexy"> 
            <form nz-form [formGroup]="inputForm">
                <div nz-row nzGutter="24" class="mrg-btm" >
                    <div nz-row nzJustify>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <input nz-input placeholder="Name"  formControlName="title" oninput="this.value = this.value.toUpperCase()" [nzSize]="'small'" />
                    </div>
                    </div>
                    <div nz-row nzJustify>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="type" [nzSize]="'small'" nzPlaceHolder="type" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let typ of types" [nzValue]="typ" [nzLabel]="typ"></nz-option> 
                        </nz-select>
                    </div>
                    </div>
                    <div nz-row nzJustify>
                    <div nz-col nzSpan="9" class="mrg-btm">
                        <nz-date-picker [nzPlaceHolder]="'Start'" [nzSize]="'small'" formControlName="start" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="9" class="mrg-btm">
                        <nz-date-picker [nzPlaceHolder]="'End'" [nzSize]="'small'" formControlName="end" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="6" class="mrg-btm">
                        <label nz-checkbox formControlName="undated">Undated</label>
                    </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Branch :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let branch of branches" [nzLabel]="branch.description" [nzValue]="branch.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Care Domain :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="care" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let domain of caredomain" [nzLabel]="domain.description" [nzValue]="domain.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Cost Center :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="state" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let costcenter of programz2" [nzValue]="costcenter.fax" [nzLabel]="costcenter.fax"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">DS Outlet :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="state" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let outlet of CSTDAOutlet" [nzValue]="outlet.cstdaOutlet" [nzLabel]="outlet.cstdaOutlet"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Funding Region :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ftype" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let funding of fundingRegion" [nzLabel]="funding.description" [nzValue]="funding.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Funding Type :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="region" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let fundt of fundingTypes" [nzLabel]="fundt.description" [nzValue]="fundt.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Program :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="prgrm" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let prog of programz" [nzLabel]="prog.name" [nzValue]="prog.name"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Service Budget Code :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="bcode" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let bgroup of budgetGroup" [nzLabel]="bgroup.description" [nzValue]="bgroup.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Service Dicipline :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="dicipline" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let dicip of diciplines" [nzLabel]="dicip.description" [nzValue]="dicip.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Service Region :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="sregion" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let gagency of groupAgency" [nzLabel]="gagency.description" [nzValue]="gagency.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Service Type MDS :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="mds" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let serviceType of hACCType" [nzValue]="serviceType.haccType" [nzLabel]="serviceType.haccType"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Service Type TRACCS :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="tracss" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let tracss of output" [nzValue]="tracss.title" [nzLabel]="tracss.title"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">SPID :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="spid" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let prog1 of programz1" [nzValue]="prog1.agencyID" [nzLabel]="prog1.agencyID"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">State :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="state" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let state of states" [nzValue]="state" [nzLabel]="state"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Staff Team :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="team" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let steam of staffTeams" [nzValue]="steam.description" [nzLabel]="steam.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Staff Category :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="cat" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let scategory of staffCategory" [nzValue]="scategory.description" [nzLabel]="scategory.description"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Staff :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="staff" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let staf of staff" [nzValue]="staf.name" [nzLabel]="staf.name"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Recipient :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="recepient" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let reci of recepient" [nzValue]="reci.name" [nzLabel]="reci.name"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">coordinator :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="coordinator" nzPlaceHolder="" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let progcord of programCordinates" [nzValue]="progcord.description" [nzLabel]="progcord.description"></nz-option>  
                            </nz-select>
                        </div>
                    </div>
                    <nz-divider style="margin:10px 0px"></nz-divider>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="8">
                            <label>Annual Budget</label>
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="hours" nzPlaceHolder="HOURS" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let hour of budgetTypes" [nzValue]="hour" [nzLabel]="hour"></nz-option> 
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Total</label>
                            <input nz-input placeholder="Total"  [nzSize]="'small'" formControlName="total" />
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Older</label>
                            <input nz-input placeholder="Older"  [nzSize]="'small'" formControlName="older" />
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Younger</label>
                            <input nz-input placeholder="Younger" [nzSize]="'small'" formControlName="younger" />
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="8" class="text-right">
                            <label nzFor="Dollar">Dollar:</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <input nz-input placeholder="Dollar" [nzSize]="'small'"  formControlName="dollar" />
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="8" class="text-right">
                            <label nzFor="Packages">Packages:</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <input nz-input placeholder="Packages" [nzSize]="'small'" formControlName="packages" />
                        </div>
                    </div>
                </div>        
                <div *nzModalFooter>
                    <ng-container>
                        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                            <span>SAVE</span>
                        </button>
                    </ng-container>
                </div>
            </form>
        </div>
    </nz-modal>
    <nz-drawer [nzWidth]="1000" [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="right" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" [src]="tryDoctype" width="950" height="600"></iframe> 
        </div>
    </nz-drawer>    
</div>