<div style="padding:8px;">
    <div nz-row>
        <div nz-col>
            <button class="botton success" (click)="showAddModal()">Add Budget</button>
            <nz-table #fixedTable  [nzScroll]="{ x: '1050px', y: '240px' }" [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th nz-left>Budget Type</th>
                        <th nzLeft>Name</th>
                        <th class="left">Branch</th>
                        <th class="left">Funding Source</th>
                        <th class="left">Care Domains</th>
                        <th class="left">Budget Group</th>
                        <th class="left">Programe</th>
                        <th class="left">DataSet Code</th>
                        <th class="left">Activity</th>
                        <th class="left">Staff Team</th>
                        <th class="left">Staff Category</th>
                        <th class="left">Staff</th>
                        <th class="left">Recepient</th>
                        <th class="left">Hours</th>
                        <th class="left">Dollars</th>
                        <th class="left">SPID</th>
                        <th class="left">STATE</th>
                        <th class="left" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of fixedTable.data;let i = index;">
                        <td  nzLeft>{{ data.budgetType  }} </td>
                        <td  nzLeft>{{ data.description  }} </td>
                        <td class="left">{{ data.branch  }} </td>
                        <td class="left">{{ data.fundingSource  }} </td>
                        <td class="left">{{ data.careDomain  }} </td>
                        <td class="left">{{ data.budgetGroup  }} </td>
                        <td class="left">{{ data.program  }} </td>
                        <td class="left">{{ data.datasetCode === 'null' ? '' : data.datasetCodekm}}</td>
                        <td class="left">{{ data.activity === 'null' ? '' : data.activity}} </td>
                        <td class="left">{{ data.staffTeam}} </td>
                        <td class="left">{{ data.staffCategory  }} </td>
                        <td class="left">{{ data.staff  }} </td>
                        <td class="left">{{ data.recipient  }} </td>
                        <td class="left">{{ data.hours  }} </td>
                        <td class="left">{{ data.dollars  }} </td>
                        <td class="left">{{data.spid === 'null' ? '' : data.spid}} </td>
                        <td class="left">{{ data.state }}</td>
                        <td nzRight><a (click)="showEditModal(i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Budget List ?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    
    <nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="'Add/Change Budget'" (nzOnCancel)="handleCancel()">
        <div class="flexy"> 
            <form nz-form [formGroup]="inputForm">
                <div nz-row nzGutter="24" class="mrg-btm" >
                    
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <input nz-input placeholder="Name"  formControlName="title" />
                    </div>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="type" [nzSize]="'small'" nzPlaceHolder="type" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let typ of types" [nzValue]="typ" [nzLabel]="typ"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="9" class="mrg-btm">
                        <nz-date-picker [nzPlaceHolder]="'Start'" [nzSize]="'small'" formControlName="start" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="9" class="mrg-btm">
                        <nz-date-picker [nzPlaceHolder]="'End'" [nzSize]="'small'" formControlName="end" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="6" class="mrg-btm">
                        <label nz-checkbox nzValue="checkedflag" (change)="checkedflag = !checkedflag" formControlName="undated">Undated</label>
                    </div>
                    <div nz-row nzJustify>
                    <div nz-col nzSpan="8" class="text-right  pad-r-5">
                        <label for="Name">Branch :</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                        </nz-select>
                    </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                            <label for="Name">Branch :</label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                            </nz-select>
                        </div>
                        </div>
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                <label for="Name">Branch :</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                </nz-select>
                            </div>
                            </div>
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                    <label for="Name">Branch :</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                    </nz-select>
                                </div>
                                </div>
                                <div nz-row nzJustify>
                                    <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                        <label for="Name">Branch :</label>
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                        </nz-select>
                                    </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                            <label for="Name">Branch :</label>
                                        </div>
                                        <div nz-col nzSpan="16">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                            </nz-select>
                                        </div>
                                        </div>
                                        <div nz-row nzJustify>
                                            <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                                <label for="Name">Branch :</label>
                                            </div>
                                            <div nz-col nzSpan="16">
                                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                                    <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                                </nz-select>
                                            </div>
                                            </div>
                                            <div nz-row nzJustify>
                                                <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                                    <label for="Name">Branch :</label>
                                                </div>
                                                <div nz-col nzSpan="16">
                                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                                        <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                                    </nz-select>
                                                </div>
                                                </div>
                                                <div nz-row nzJustify>
                                                    <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                                        <label for="Name">Branch :</label>
                                                    </div>
                                                    <div nz-col nzSpan="16">
                                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                                            <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                                        </nz-select>
                                                    </div>
                                                    </div>
                                                    <div nz-row nzJustify>
                                                        <div nz-col nzSpan="8" class="text-right  pad-r-5">
                                                            <label for="Name">Branch :</label>
                                                        </div>
                                                        <div nz-col nzSpan="16">
                                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzPlaceHolder="Branch" nzShowSearch nzAllowClear style="width:100%;">
                                                                <nz-option *ngFor="let branch of branches" [nzLabel]="branch" [nzValue]="branch"></nz-option>
                                                            </nz-select>
                                                        </div>
                                                        </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="care" nzPlaceHolder="Care Domain" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let domain of caredomain" [nzValue]="domain" [nzLabel]="domain"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cost" nzPlaceHolder="Cost Center" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="" [nzValue]="" [nzLabel]=""></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="outlet" nzPlaceHolder="DS Outlet" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="" [nzValue]="" [nzLabel]=""></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="region" nzPlaceHolder="Funding Region" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let funding of fundingRegion" [nzValue]="funding.description" [nzLabel]="funding.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="ftype" nzPlaceHolder="Funding Type" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let fundt of fundingTypes" [nzValue]="fundt.description" [nzLabel]="fundt.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="prgrm" nzPlaceHolder="Programe" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let prog of programz" [nzValue]="prog.name" [nzLabel]="prog.name"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="bcode" nzPlaceHolder="Service Budget Code" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let bgroup of budgetGroup" [nzValue]="bgroup.description" [nzLabel]="bgroup.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="dicipline" nzPlaceHolder="Service Dicipline" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let dicip of diciplines" [nzValue]="dicip.description" [nzLabel]="dicip.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="sregion" nzPlaceHolder="Service Region" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let gagency of groupAgency" [nzValue]="gagency.description" [nzLabel]="gagency.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="mds" nzPlaceHolder="Service Type MDS" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="" [nzValue]="" [nzLabel]=""></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="tracss" nzPlaceHolder="Service Type TRACCS" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="" [nzValue]="" [nzLabel]=""></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="spid" nzPlaceHolder="SPID" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="" [nzValue]="" [nzLabel]=""></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="state" nzPlaceHolder="State" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let state of states" [nzValue]="state" [nzLabel]="state"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="team" nzPlaceHolder="Staff Team" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let steam of staffTeams" [nzValue]="steam" [nzLabel]="steam"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cat" nzPlaceHolder="Staff Category" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let scategory of staffCategory" [nzValue]="scategory.description" [nzLabel]="scategory.description"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="staff" nzPlaceHolder="Staff" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let staf of staff" [nzValue]="staf.name" [nzLabel]="staf.name"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="recepient" nzPlaceHolder="Recepient" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let reci of recepient" [nzValue]="reci.name" [nzLabel]="reci.name"></nz-option> 
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="8" class="mrg-btm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="coordinator" nzPlaceHolder="Coordinator" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let progcord of programCordinates" [nzValue]="progcord.description" [nzLabel]="progcord.description"></nz-option> 
                        </nz-select>
                    </div>
                    <nz-divider></nz-divider>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="4">
                            <label>Annual Budget</label>
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="hours" nzPlaceHolder="HOURS" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let hour of budgetTypes" [nzValue]="hour" [nzLabel]="hour"></nz-option> 
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Total</label>
                            <input nz-input placeholder="Total"  formControlName="total" />
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Older</label>
                            <input nz-input placeholder="Older"  formControlName="older" />
                        </div>
                        <div nz-col nzSpan="4">
                            <label>Younger</label>
                            <input nz-input placeholder="Younger"  formControlName="younger" />
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="4">
                            <label nzFor="Dollar">Dollar:</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <input nz-input placeholder="Dollar"  formControlName="dollar" />
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="4">
                            <label nzFor="Packages">Packages:</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <input nz-input placeholder="Packages"  formControlName="packages" />
                        </div>
                    </div>
                </div>        
                <div *nzModalFooter>
                    <ng-container>
                        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                            <span>SAVE</span>
                        </button>
                    </ng-container>
                </div>
            </form>
        </div>
    </nz-modal>
</div>