<div style="padding:8px;">
<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">CDC Claim Rates</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">CDC Item</th>
                    <th class="left">Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                <td class="left">{{ data.name  }} </td>
                <td class="left">{{ data.rate  }} </td>
                <td class="left"><a (click)="showEditModal(i)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Claim Rate List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
    <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
        <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
    </nz-steps>
    <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <label for="CDC Item">CDC Item:</label>
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="item" nzShowSearch nzAllowClear style="width:100%;">
                    <nz-option *ngFor="let itm of items" [nzValue]="itm" [nzLabel]="itm"></nz-option> 
                    </nz-select>
                </div>
                <div nz-row nzGutter="24" class="mrg-btm">
                        <label for="Rate">Rate:</label>
                        <input nz-input placeholder="rate"  formControlName="rate" />
                </div>
            </div>
        </div>
        <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!this.inputForm.get('rate').value || !this.inputForm.get('item').value" (click)="save()" *ngIf="current === 0">
                        <span>Save</span>
                    </button>
                </ng-container>
            </div>
        </div>
</nz-modal>
</div>