<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">Add Program Coordinates</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Staff Code</th>
                    <th class="left">Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                <td class="left">{{ data.code  }} </td>
                <td class="left">{{ data.name  }} </td>
                <td class="left"><a (click)="showEditModal(i)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete programe coordinate ?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="loadtitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
    <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
        <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
    </nz-steps>
    <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <label for="CDC Item">Staff Code:</label>
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="code" nzShowSearch nzAllowClear style="width:100%;">
                    <nz-option *ngFor="let staf of staff" [nzValue]="staf" [nzLabel]="staf"></nz-option> 
                    </nz-select>
                </div>
                <div nz-row nzGutter="24" class="mrg-btm">
                        <label for="Title">Name/Title:</label>
                        <input nz-input placeholder=""  formControlName="name" />
                </div>
            </div>
        </div>
        <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]= "!inputForm.get('code').value || !inputForm.get('name').value" (click)="save()" *ngIf="current === 0">
                        <span>Done</span>
                    </button>
                </ng-container>
            </div>
        </div>
</nz-modal>