<div style="padding:8px">
<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">Add Religion</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                <td class="left">{{ data.name  }} </td>
                        <td><a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure You want to delete this from Religion List ?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
</div>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
    <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
        <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
    </nz-steps>
    <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <input nz-input placeholder="Name/Title"  formControlName="name" required />
                    </div>
                </div>
            </div>
        </div>
        <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!inputForm.get('name').value" (click)="save()" *ngIf="current === 0">
                        <span>Save</span>
                    </button>
                </ng-container>
            </div>
        </div>
</nz-modal>