<nz-modal [nzWidth]="1200" [nzStyle]="{ top: '20px' }" [(nzVisible)]="open" [nzTitle]="'Add Staff'" (nzOnCancel)="handleCancel()">
    <div class="flexy">

        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Type & Personal Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Address Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Contact Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Other Details & Administration" nzDescription=""></nz-step>

            <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>

            <nz-step class="mini" nzTitle="Competencies" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Followups" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Other Required Info" nzDescription=""></nz-step>
        </nz-steps>

        <nz-divider class="full-height" nzType="vertical"></nz-divider>

        <div class="steps-content" >
            
            <div nz-row *ngIf="current == 0" [formGroup]="staffForm" nzGutter="8">

                <div nz-col nzSpan="8">
                    <div class="form-group">
                        <label for="">Type</label>
                        <nz-select class="nzselect-min" formControlName="type" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="" >
                            <nz-option *ngFor="let d of typesArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
    
                    <ng-container *ngIf="staffForm.get('type').value === 'BROKERAGE ORGANISATION' || staffForm.get('type').value === 'SUNDRY BROKERAGE SUPPLIER'">
                        <nz-radio-group formControlName="orgType">
                            <label nz-radio [ngStyle]="style" nzValue="Individual">Individual</label>
                            <label nz-radio [ngStyle]="style" nzValue="Organisation">Organisation</label>
                        </nz-radio-group>
                    </ng-container>
                </div>
                
                <div nz-col nzSpan="16">
                    <ng-container *ngIf="!(staffForm.get('orgType').value === 'Organisation') && staffForm.get('type').value != null" [formGroup]="staffForm">
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="8">
                                <div class="form-group">
                                    <label for="">Gender</label>
                                    <nz-select formControlName="gender" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzPlaceHolder="Select an Incident Type" >
                                        <nz-option *ngFor="let d of genderArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Birthdate</label>
                                    <nz-date-picker formControlName="birthDate" (nzOnOpenChange)="dateOpenChange($event)" [nzDefaultPickerValue]="defaultDate" [nzFormat]="dateFormat"></nz-date-picker>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="8">
                                <div class="form-group">
                                    <label for="">Surname</label>
                                    <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div class="form-group">
                                    <label for="">Firstname</label>
                                    <input type="text" formControlName="firstName" class="text-upper" nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="margin-top:1rem;">
                            <div nz-col nzSpan="24">
                                <div class="form-group">
                                    <label for="">Account Name</label>
                                    <input type="text" formControlName="accountNo" nz-input />
                                </div>
                                <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                                <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                            </div>
                        </div>
                    </ng-container>
    
                    <ng-container *ngIf="(staffForm.get('orgType').value === 'Organisation') && staffForm.get('type').value != null" [formGroup]="staffForm">
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Organisation Name</label>
                                    <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>                                
                                </div>
                                <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                                <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                            </div>
                        </div>                   
                    </ng-container>
                </div>
            </div>

            <!-- <div *ngIf="current == 1">
               
                    <ng-container *ngIf="!(staffForm.get('orgType').value === 'Organisation' && staffForm.get('type').value != null )" [formGroup]="staffForm">
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Gender</label>
                                    <nz-select formControlName="gender" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select an Incident Type" >
                                        <nz-option *ngFor="let d of genderArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Birthdate</label>
                                    <nz-date-picker formControlName="birthDate" [nzFormat]="dateFormat"></nz-date-picker>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="6">
                                <div class="form-group">
                                    <label for="">Surname</label>
                                    <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>
                                </div>
                            </div>
                            <div nz-col nzSpan="6">
                                <div class="form-group">
                                    <label for="">Firstname</label>
                                    <input type="text" formControlName="firstName" class="text-upper" nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-row style="margin-top:1rem;">
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Account Name</label>
                                    <input type="text" formControlName="accountNo" class="text-upper" nz-input>
                                </div>
                                <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                                <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                            </div>
                        </div>
                    </ng-container>
    
                    <ng-container *ngIf="(staffForm.get('orgType').value === 'Organisation' && staffForm.get('type').value != null )" [formGroup]="staffForm">
                        <div nz-row nzGutter="24">
                            <div nz-col nzSpan="6">
                                <div class="form-group">
                                    <label for="">Organisation Name</label>
                                    <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>                                
                                </div>
                                <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                                <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                            </div>
                        </div>                   
                    </ng-container>
       
            </div> -->

            <div *ngIf="current == 1" [formGroup]="staffForm">

               <div class="width-55">
                    <button class="botton success title" (click)="addAddress()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add Addresses</button>

                    <div nz-row class="list-group" nzGutter="24" formArrayName="addressForm" *ngFor="let staff of staffForm.get('addressForm')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                     
                            <div nz-col nzSpan="12">
                                <nz-select style="width:100%;margin-bottom:10px" formControlName="type" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Type" >
                                    <nz-option *ngFor="let d of addressType" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>                

                            <div nz-col class="form-group" nzSpan="24">
                                <input type="text" formControlName="address1" placeholder="Address" oninput="this.value = this.value.toUpperCase()" nz-input>
                            </div>

                            <div nz-col nzSpan="24">
                                <suburb [placeholder]="'Suburb/Postcode'" formControlName="suburb"></suburb>
                            </div>

                        </ng-container>                        
                    </div>
               </div>

            </div>

            <div *ngIf="current == 2" [formGroup]="staffForm">

                <div class="width-55">
                    <button class="botton success title" (click)="addContact()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add Contacts</button>

                    <div nz-row class="list-group" nzGutter="24" formArrayName="contactForm" *ngFor="let staff of staffForm.get('contactForm')['controls']; let i = index;">            
                        <ng-container [formGroupName]="i">
                            <div nz-col nzSpan="12">
                                <nz-select style="width:100%" formControlName="contacttype" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Type" >
                                    <nz-option *ngFor="let d of contactType" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="12">
                                <input type="text" *ngIf="!isMobile(staff.value.contacttype) && !isPhoneFax(staff.value.contacttype)" formControlName="contact" placeholder="Details" nz-input>
                                <app-phonefax *ngIf="isMobile(staff.value.contacttype)" [isMobile]="true" formControlName="contact"></app-phonefax>
                                <app-phonefax *ngIf="isPhoneFax(staff.value.contacttype)" formControlName="contact"></app-phonefax>
                            </div>     
                        </ng-container>                             
                    </div>
               </div>

            </div>

            <div *ngIf="current == 3" [formGroup]="staffForm">

                <div nz-row>
                    <div nz-col nzSpan="8">
                     
                            <div class="form-group">
                                <label for="">Commencement Date</label>
                                <nz-date-picker formControlName="commencementDate" [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
            
                            <div class="form-group">
                                <label for="">Branch</label>
                                <nz-select style="width:100%" formControlName="branch" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a BRANCH" >
                                    <nz-option *ngFor="let d of branchesArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>
            
                            <div class="form-group">
                                <label for="">Job Category</label>
                                <nz-select style="width:100%" formControlName="jobCategory" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Category" >
                                    <nz-option *ngFor="let d of jobCategoryArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>
            
                            <div class="form-group">
                                <label for="">Staff Manager</label>
                                <nz-select style="width:100%" formControlName="manager" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Coordinator/Manager " >
                                    <nz-option *ngFor="let d of managerArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>

                            <div class="form-group">
                                <label for="">Activity</label>
                                <nz-select style="width:100%" formControlName="activity" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Activity" >
                                    <nz-option *ngFor="let d of activities" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>
                     
                    </div>
                </div>                
            </div>

            <div *ngIf="current == 4" [formGroup]="staffForm" style="width:25rem">
                <div nz-row [nzGutter]="8" class="space-btm">
                    <div nz-col nzSpan="8">
                        <nz-date-picker [nzFormat]="dateFormat" formControlName="date" [nzFormat]="dateFormat" [nzPlaceHolder]="'Referral Date'"></nz-date-picker>
                    </div>                        
                </div>
                <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="8">
                        <nz-time-picker formControlName="time" [nzPlaceHolder]="'Time'" nzFormat="HH:mm"></nz-time-picker>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-time-picker formControlName="timeSpent" [nzMinuteStep]="15" [nzPlaceHolder]="'Time Spent'" nzFormat="HH:mm"></nz-time-picker>
                    </div>
                </div>
            </div>

            <div *ngIf="current == 5" >
                <div nz-col nzSpan="24">
                    <div class="form-group" [formGroup]="staffForm">
                        <nz-radio-group formControlName="radioGroup">
                            <label nz-radio [nzValue]="'CASENOTE'">CASE NOTE</label>
                            <label nz-radio [nzValue]="'OPNOTE'">OP NOTE</label>
                            <label nz-radio [nzValue]="'CLINOTE'">CLINICAL NOTE</label>
                        </nz-radio-group>
                        
                        <textarea rows="4" nz-input formControlName="notes" style="margin:15px 0"></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="current == 6" [formGroup]="staffForm">

            </div>

            <div *ngIf="current == 7" [formGroup]="staffForm">
                <label for="">Notifications</label>
                <nz-checkbox-group [(ngModel)]="notifCheckBoxes" (ngModelChange)="notif(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                <nz-alert nzType="warning" *ngIf="notifCheckBoxes?.length == 0" nzMessage="No Notifications"></nz-alert>
            </div>

            <div *ngIf="current == 8" [formGroup]="staffForm">
                <label for="">Followups</label>
                <nz-checkbox-group [(ngModel)]="notifFollowUpGroup" (ngModelChange)="followup(notifFollowUpGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                <nz-alert nzType="warning" *ngIf="notifFollowUpGroup?.length == 0" nzMessage="No Followups"></nz-alert>
            </div>

            <div *ngIf="current == 9" [formGroup]="staffForm">
                <label for="">Documents</label>
                <nz-checkbox-group [(ngModel)]="notifDocumentsGroup" (ngModelChange)="notif(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                <nz-alert nzType="warning" *ngIf="notifDocumentsGroup?.length == 0" nzMessage="No Documents"></nz-alert>
            </div>

            <div *ngIf="current == 10" [formGroup]="staffForm">
                <label for="">Other Required Info</label>
                <div *ngFor="let l of datalist"> 
                    <a [href]="l.link" target="_blank">{{l.form}}</a>
                </div>
                <nz-alert nzType="warning" *ngIf="datalist?.length == 0" nzMessage="No Other Infos"></nz-alert>               
            </div>

        </div>

    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <!-- *ngIf="current < 3" [disabled]="!nextRequired" -->
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 10" [disabled]="!nextRequired">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" (click)="save()" *ngIf="current == 10" >
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>