<div nz-row>
    <div style="padding:8px" >
       
        <div nz-row class="dm-input">
            <div nz-col nzSpan="5">
                <label for="date"> Date</label>
                <nz-date-picker nzMode="default" [nzFormat]="dateFormat" [(ngModel)]="date"></nz-date-picker>
            </div>
            <div nz-col nzSpan="5">
                <label for="dayview">Day View</label>
                <nz-select [(ngModel)]="dayView">
                    <nz-option *ngFor="let no of dayViewArr" [nzValue]="no" [nzLabel]="no"></nz-option>
                </nz-select>
            </div>
            
        </div>
    
       
    </div>
    <div>
        <dm-calendar [startDate]="date" [dayView]="dayView" [reload]="reload"  [copyPaste]="toBePasted?.length > 0"
            (showDetail)="showDetail($event)" (showOptions)="showOptions($event)" (highlighted)="highlighted($event)"
            (data)="data($event)" (paste)="pasted($event)"></dm-calendar>
    </div>
</div>
<recipientexternal [isVisible]="recipientexternal" [AccountNo]="selected_data" (recipientexternalDone)="cancelRecipientExternal($event)" *ngIf="recipientexternal"></recipientexternal>
     
<staffexternal [isVisible]="staffexternal" [AccountNo]="selected_data" (staffexternalDone)="cancelStaffExternal($event)" *ngIf="staffexternal"></staffexternal>
<shiftdetail (timesheetDone)="shiftChanged($event)" ></shiftdetail>



<nz-modal class="options" [nzStyle]="{ top: '15px' }" [(nzVisible)]="optionsModal" nzTitle="Day Manager" (nzOnCancel)="optionsModal = false" 
    style="background-color: #002060; margin-top: 5px; color: white;">
   
    <div  nz-row style="background-color: #fff; margin-top: 5px; ">
        <ul >
            <li class="listitem" (click)="toMap()">Display Route Map</li>
            <li class="listitem"  (click)="ViewRecipientDetails.next(1)">View Recipient Details</li>
            <li class="listitem" (click)="ViewRecipientDetails.next(2)" >View Service Shift Notes</li>
            <hr/>
            <li class="listitem"  (click)="AllocateView.next(1)">Un-Allocate Staff</li>
            <li class="listitem"  (click)="AllocateView.next(2)">Allocate Staff</li>
            <li class="listitem"  (click)="AllocateView.next(3)"> Change Day or Times</li>
            <hr/>
            <li class="listitem" >Add NEW Staff Activity / View Shift and Gaps</li>
            <li class="listitem" >Add NEW Recipient Activity / View Daily Services</li>
            <li class="listitem"  >My Diary / Appointments - Day View</li>
            <hr/>
            <li class="listitem">Set Caseload Name</li>
            <li>Allocate Resource</li>
            <li class="listitem">Change <i nz-icon nzType="right" nzTheme="outline"></i>
                <ul class="listitem">
                    <li (click)="changeModalView.next(1)">Change Output Type</li>
                    <li (click)="changeModalView.next(2)">Change Program</li>
                    <li (click)="changeModalView.next(3)">Change Activity</li>
                    <li (click)="changeModalView.next(4)">Change Pay Type</li>
                    <li (click)="changeModalView.next(5)">Change Bill Amount</li>
                    <li (click)="changeModalView.next(6)">Change Bill Quantity</li>
                    <li (click)="changeModalView.next(7)">Change Pay Quantity</li>
                    <li (click)="changeModalView.next(8)">Set Unit Cost</li>
                </ul>
            </li>
            <hr>
            <li class="listitem">View <i nz-icon nzType="right" nzTheme="outline"></i>
                <ul class="listitem">
                    <li (click)="ViewDetails.next(1)">View Recipient Details</li>                    
                    <li (click)="ViewDetails.next(2)">View Staff Details</li>
                    <li (click)="ViewDetails.next(3)">View Extra/Additional Info</li>
                    <li (click)="ViewDetails.next(4)">View Shift/Service Details</li>
                </ul>
            </li>
            <hr>
            <li class="listitem">Nudge Up</li>
            <li class="listitem">Nudge Down</li>
            <li *ngIf="(1>2)" class="listitem" (click)="OperationView.next(1)">Copy</li>
            <li *ngIf="(1>2)"class="listitem" (click)="OperationView.next(2)">Cut</li>
            <li class="listitem" (click)="OperationView.next(3)">Make a Copy</li>
            <li class="listitem" (click)="OperationView.next(4)">Delete Shift/Service</li>
        </ul>
    </div>
    <div *nzModalFooter>
        <!-- <span>Modal Footer: </span>
        <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
      </div>
  </nz-modal>

  <nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="ViewAdditionalModal" nzTitle="View Additional Info" (nzOnCancel)="ViewAdditionalModal = false" >
    <div nz-row>
        <!-- <div class="form-group" *ngIf="selected?.option === 1"> -->
           <label for=""> Date: {{date | date : 'dd/MM/yyyy'}}   Start Time: {{defaultStartTime}}  Activity: {{serviceType}}</label>
           <input type="text" [value]="notes"  style="width:450px; height:200px" id="txtnotes" #box>
        <!-- </div> -->
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveAdditionalInfo(box.value)">Save</button>
        <button nz-button nzType="default" (click)="ViewAdditionalModal=false">Cancel</button>
    </div>
</nz-modal>

  
<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="recipientDetailsModal" nzTitle="Recipients Details" (nzOnCancel)="recipientDetailsModal = false" >
    <div nz-row>
        sd
    </div>
 <div *nzModalFooter>
        <button nz-button nzType="default" >Cancel</button>
    </div>
  </nz-modal>
    <nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="show_alert" nzTitle="Alert Staff" (nzOnCancel)="show_alert = false" >
      
        <!-- <div class="flexy" style="min-width:21rem; padding-left:20px;">
            <form [formGroup]="AlertForm" class="form-group">
         -->
            <div nz-row >
                <div nz-col nzSpan="24" style="padding-left: 5px;">                  
                    <nz-label style="padding: 2px;" >Alert Staff: if Yes: Please review the following message to be sent: </nz-label >              
                </div>
            </div>
        
            <div nz-row>
                <div nz-col nzSpan="24" style="padding-top: 10px; padding-left: 5px;" >
                    <nz-label style="margin-left: 3px;">Subject </nz-label >                                 
                    <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtAlertSubject"/>                       
                </div>  
            </div>
            <div nz-row > 
            <div nz-col nzSpan="24" style="padding-top: 10px; padding-left: 5px;" > 
                <nz-label style="margin-left: 3px;" >Message </nz-label >    
                <textarea id="txtMessage" style="margin-top: 5px; height:200px;" nz-input [(ngModel)]="txtAlertMessage"> </textarea>                 
               
            </div>
        </div>    
   
    
        
        <div *nzModalFooter>
                <button nz-button nzType="default"  (click)="generate_alert()">Yes</button>
                <button nz-button nzType="default"  (click)="show_alert=false">No</button>
        </div>
        
    </nz-modal>
    <nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="breachRoster" nzTitle="Roster Validation" (nzOnCancel)="breachRoster = false" >
      
        <div class="flexy" style="min-height:3rem">
         
            <div>
                <label style="font-size:14px; " > {{Error_Msg}} <br/> Are you sure you want to continue roster addition/change </label>
               
            </div>
        </div>
   
    
    <div *nzModalFooter>
        <button   nz-button nzType="default"  (click)="ProceedBreachRoster()">Yes</button>
        <button   nz-button nzType="default"  (click)="Cancel_ProceedBreachRoster()">No</button>
    </div>
</nz-modal>

 <nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="AllocateStaffModal" nzTitle="Select Staff from below Staff List" (nzOnCancel)="AllocateStaffModal = false" >
    <div class="flexy" style="min-height:10rem">
        <div nz-row>
            <div nz-col nzSpan="6" style="margin-top: 10px; margin-bottom: 20px; width:400px">
            
                <div>
                    <nz-input-group nzAddOnAfterIcon="search" (click)="openStaffModal()" >
                        <input placeholder="Search Staff" type="text" nz-input [(ngModel)]="selectedCarer" [disabled]="true"/>
                      </nz-input-group>               
                </div>
          
                <app-search-list [reload]="reloadVal" [view]="1" [(ngModel)]="sample" (ngModelChange)="listChange($event)"></app-search-list>

                       
            </div>
            <div>
                <label *ngIf="selectedCarer" >Re-Allocate Staff : </label>
                <label  id="lblStaff" >
                {{selectedCarer}}
                </label>
            </div>
        </div>
    </div> 
    <div *nzModalFooter>
        <button nz-button nzType="default"  (click)="reAllocate()">Allocate</button>
        <button nz-button nzType="default"  (click)="AllocateStaffModal=false">Cancel</button>
    </div>
</nz-modal> 
<staff-search [findModalOpen]="openSearchStaffModal" (searchDone)="onStaffSearch($event)"></staff-search>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="900" [(nzVisible)]="ViewServiceNoteModal" nzTitle="Service / Shift Notes "   (nzOnCancel)="ViewServiceNoteModal = false" >
    <div class="flexy" style="min-height:25rem;">
        <gnotes #gn [user]="Person" [loadNote]="loadingNote" ></gnotes>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="gn.search(Person)">Refresh</button>
        <button nz-button nzType="default" (click)="ViewServiceNoteModal=false">Cancel</button>
    </div>
</nz-modal>
