<div nz-layout >
    <div nz-row>
        <div nz-col nzSpan="6">
           <div class="tree_frame">
                <nz-tree [nzData]="nodes" nzAsyncData = "true" (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"> </nz-tree>         
            </div>
        </div>
    
        <div nz-col nzSpan="18" [formGroup]="inputForm">
            <div nz-row *ngIf="frm_nodelist" >
                <div nz-col nzSpan="22" class="list_frame"  >
                    <nz-list [nzGrid] >
                        <nz-list-item *ngFor="let item of list">                            
                       {{item}}
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>
            <div nz-row class="margin">
                <div nz-col nzSpan="10" >
                    <div class="form-group" >                                 
                                    
                        <nz-select formControlName="exportitemsArr"   >
                            <nz-option *ngFor="let option of exportitemsArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                        </nz-select>                             
                    </div>
                </div>
                <div nz-col nzSpan="12"  >
                    <div class="form-group" class="margin">                                 
                        <label class="checks" nz-checkbox formControlName="activeonly">Active only</label> <br>
                        <label class="checks" nz-checkbox formControlName="incl_internalCostclient">Include internal cost client</label>                                                              
                    </div>                                                                                                                                                               
                </div>
            </div>
                <div nz-row class="margin">
                    <div nz-col nzSpan="10"  >
                        <div class="form-group">                                 
                            <nz-select formControlName="functionsArr"   >
                                <nz-option *ngFor="let option of functionsArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                            </nz-select>                                                               
                        </div>
                    </div>
                </div>
                <div nz-row class="margin">
                    <div nz-col nzSpan="10"  >
                        <div class="form-group">                                 
                            <nz-select formControlName="Arr"   >
                                <nz-option *ngFor="let option of Arr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                            </nz-select>                                                               
                        </div>
                    </div>                
                    <div nz-col nzSpan="10"   class="margin" >
                        <div class="form-group">                                 
                            <nz-select formControlName="valArr"   >
                                <nz-option *ngFor="let option of valArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                            </nz-select>                                                               
                        </div>
                    </div>
                </div>
        
        </div> 
    </div>    
</div>
