<div nz-layout >
    <div nz-row>
        <div nz-col nzSpan="6">
           <div class="tree_frame" >
                <nz-tree [nzData]="nodes" nzAsyncData = "false" (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"> </nz-tree>         
            </div>
        </div>
    
        <div nz-col nzSpan="18" >
            <div nz-row *ngIf="frm_nodelist"  >
                <div nz-col nzSpan="16" class="list_frame"  >
                    <nz-list [nzGrid] >
                        <nz-list-item *ngFor="let item of list;let indexofelement= index;"> 
                            <table>
                                <tr>
                                    <td>
                                        <span>   {{item}}    </span>
                                    </td>
                                    <td style="align-items: flex-end;"> <a  nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deletelistitem(indexofelement)">Delete</a>
                                    </td>
                                </tr>
                            </table>                           
                      
                        
                       <div >
                        </div>
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>
            <div nz-row class="margin">
                <div nz-col nzSpan="10" >
                    <div class="form-group" [formGroup]="inputForm">                                                                     
                        <nz-select formControlName="exportitemsArr"  (ngModelChange)= "EnablerAplyBtn()" >
                            <nz-option *ngFor="let option of exportitemsArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                        </nz-select>                             
                    </div>
                </div>
                <div nz-col nzSpan="12"  >
                    <div class="form-group" class="margin" [formGroup]="inputForm">                                 
                        <label class="checks" nz-checkbox formControlName="activeonly">Active only</label> <br>
                        <label class="checks" nz-checkbox formControlName="incl_internalCostclient">Include internal cost client</label>                                                              
                    </div>                                                                                                                                                               
                </div>
            </div>
                <div nz-row class="margin">
                    <div nz-col nzSpan="10"  >
                        <div class="form-group"  [formGroup]="inputForm">                                 
                            <nz-select formControlName="functionsArr" (ngModelChange)= "SetValueFrame()"  >
                                <nz-option *ngFor="let option of functionsArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                            </nz-select>                                                               
                        </div>
                    </div>
                </div>
                <div nz-row class="margin">
                    <div nz-col nzSpan="10"  >
                        <div class="form-group"  [formGroup]="inputForm"> 
                            <input nz-input placeholder=" Values"formControlName="Arr"/>                                
                        <!--    <nz-select formControlName="Arr"   >
                                <nz-option *ngFor="let option of Arr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                            </nz-select>    -->                                                           
                        </div>
                    </div>  
                    
                    <div nz-col nzSpan="10"   class="margin" *ngIf="frm_SecondValue">
                        <div class="form-group"  [formGroup]="inputForm">  
                            <input nz-input placeholder=" Values"formControlName="valArr"   />                                                                                                               
                        </div>
                    </div> 
                </div>
                <div>
                    <button nzType="default" class="btn" (click)="apply()" [disabled] = "Applybutton">Apply</button>
                </div>
                <div nz-row   >
                    <div nz-col nzSpan="22"  class="criteria" >                       
                            <table>                            
                                    <tr>
                                        <td class="colwidth" >
                                            <span>Data </span>
                                        </td>
                                        <td class="colwidth" >
                                            <span>Condition </span>
                                        </td>
                                        <td class="colwidth" >
                                            <span> Value </span>
                                        </td>
                                        <td class="colwidth" *ngIf="frm_SecondVal">
                                            <span> Value </span>
                                        </td>
                                        <td class="colwidth"  >
                                            <span> Action </span>
                                        </td>
                                    </tr>                                                              
                                    
                                    <tr > 
                                        <td>
                                            <nz-list [nzGrid] >
                                                <nz-list-item *ngFor="let item of entity;let indexofelement= index;"> 
                                                    <span>{{item}}</span>                                                                                                                                                     
                                                </nz-list-item>
                                            </nz-list>
                                        </td> 
                                        <td>
                                            <nz-list [nzGrid] >
                                                <nz-list-item *ngFor="let item of condition;let indexofelement= index;"> 
                                                    <span>{{item}}</span>                                                                                                                                           
                                                </nz-list-item>
                                            </nz-list>
                                        </td>
                                        <td>
                                            <nz-list [nzGrid] >
                                                <nz-list-item *ngFor="let item of value;let indexofelement= index;"> 
                                                    <span>{{item}}</span>                                                                                                                                           
                                                </nz-list-item>
                                            </nz-list>
                                        </td>
                                        <td  *ngIf="frm_SecondVal">
                                            <nz-list [nzGrid] >
                                                <nz-list-item *ngFor="let item of Endvalue;let indexofelement= index;"> 
                                                    <span>{{item}}</span>                                                                                                                                           
                                                </nz-list-item>
                                            </nz-list>
                                        </td>
                                        <td>
                                            <nz-list [nzGrid] >
                                                <nz-list-item *ngFor="let item of value;let indexofelement= index;"> 
                                                    <div *ngIf="frm_delete"> <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(datarow)">Delete</a>                                            
                                                    </div>                                                                                                                                         
                                                </nz-list-item>
                                            </nz-list>
                                        </td>                                        
                                        
                                        <!--<td class="colwidthentity"  *ngFor="let item of entity;let indexofelement= index;" >                                               
                                            <span>{{item}}</span>                                            
                                        </td>
                                        <td class="colwidth"  *ngFor="let item of condition;let indexofelement= index;" >                                               
                                            <span>{{item}}</span>                                            
                                        </td>
                                        <td class="colwidth"  *ngFor="let item of value;let indexofelement= index;" >                                               
                                            <span>{{item}}</span>                                                
                                        </td>
                                        <td  class="colwidth">
                                            <div *ngIf="frm_delete"> <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(datarow)">Delete</a>                                            
                                            </div>
                                        </td> -->
                                  </tr>                                                                
                            </table>                                               
                    </div>
                    <div class="form-group"  [formGroup]="inputForm">
                        <nz-radio-group formControlName="radiofiletr">
                            <label nz-radio nzValue="meet">Only Records that meet selection Criteria</label><br>
                            <label nz-radio nzValue="donotmeet">Only Records that do not meet selection Criteria</label>                                                        
                        </nz-radio-group>
                    </div>
                    <div class="item-right">
                        <button nzType="primary" class="btn" (click)="back2adminRpt()">Back</button> 
                        <button nzType="primary" class="btn" (click)="showprompt()">Save</button> 
                        <button nzType="primary" class="btn"  (click)="ShowReport()">Preview</button>                                               
                    </div>
                </div>        
        </div> 
    </div>  
    
    <div nz-row>
        <nz-modal
            nzWidth="400px"
            [nzStyle]="{top: '50px',height:'300px', overflow: 'auto' }"         
            [(nzVisible)]="isVisibleprompt"
            nzTitle= "TRACCS"
            (nzOnCancel)="handleCancelTop()"
            (nzOnOk)="SaveReport()"
        >
        <div nz-row >
            <div nz-col nzSpan="20" >
                <div class="form-group" [formGroup]="inputForm">                
                    <input nz-input placeholder="Report Name" formControlName="RptTitle"  />                                        
                </div>      
            </div>
        </div>
        </nz-modal>
    </div> 
</div>

<nz-drawer nzHeight="100vh" [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" [src]="tryDoctype"  width="1280" height="650"></iframe> 
    </div>
</nz-drawer>