h2{
    color:#fff;
}
h5{
    color:#fff;
}
.container {        
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.background{
    background: linear-gradient(112deg, #7ccfff, #0c8dfb);
    height:100vh;
}
div.logo-container{
    text-align: center;
}

div.logo-container img{
    height:5rem;
    width: auto;
}