<nz-layout>
    <nz-sider 
        nzCollapsible
        [(nzCollapsed)]="isCollapsed"
        [nzBreakpoint]="'lg'"
        [nzCollapsedWidth]="0"
        [nzZeroTrigger]="zeroTrigger">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" class="main-list"[nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item  routerLink="/client-manager/profile" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="user"></i>
                <span>Profile</span>
            </li>
            <li nz-menu-item routerLink="/client-manager/notes" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="read"></i>
                <span>Notes</span>
            </li>
            <li *ngIf="_settings?.VIEWPACKAGESTATEMENT()" nz-menu-item routerLink="/client-manager/package" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="gift"></i>
                <span>Package</span>
            </li>
            <li *ngIf="_settings?.ALLOWBOOKING()" nz-menu-item routerLink="/client-manager/booking" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="book"></i>
                <span>Booking</span>
            </li>
            <li nz-menu-item routerLink="/client-manager/calendar" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="calendar"></i>
                <span>Calendar</span>
            </li>
            <li nz-menu-item routerLink="/client-manager/history" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="history"></i>
                <span>History</span>
            </li>
            <li *ngIf="_settings?.CANMANAGEPREFERENCES()" nz-menu-item routerLink="/client-manager/preferences" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="like"></i>
                <span>Preferences</span>
            </li>
            <li *ngIf="_settings?.CANMANAGESERVICES()" nz-menu-item routerLink="/client-manager/manage-services" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="security-scan"></i>
                <span>Manage Services</span>
            </li>
            <li nz-menu-item routerLink="/client-manager/document" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="file"></i>
                <span>Document</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <app-header-nav></app-header-nav>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <div nz-row nzGutter="16">
                    <div nz-col nzSpan="4">
                        <app-members></app-members>
                    </div>
                    <div nz-col nzSpan="20">
                        <router-outlet></router-outlet>
                    </div>                    
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>