<div nz-row>
    <app-filter [(ngModel)]="filterParameters" (ngModelChange)="filterChange($event)" [tabs]="'rhistory'" [LIMIT_TABS]="FILTERS"></app-filter>
</div>

  <div class="example-container">
        <ul
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="dragOrigin"
            [cdkDropListConnectedTo]="[doneList]"
            class="drag-list"
            (cdkDropListDropped)="drop($event)">
            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                <div>
                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                </div>
            </li>
        </ul>
  </div>

<div nz-row>
    <div nz-col>

        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="tableData">
            
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th cdkDrag [cdkDragData]="'Date'" class="left">Date</th>
                    <th cdkDrag [cdkDragData]="'Program'">Program</th>
                    <th cdkDrag [cdkDragData]="'Event'">Event</th>
                    <th cdkDrag [cdkDragData]="'Staff'">Staff</th>
                    <th cdkDrag [cdkDragData]="'Amount'">Amount</th>
                    <th cdkDrag [cdkDragData]="'Notes'">Notes</th>
                </tr>
            </thead>

            <tbody>

                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="6">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData">
                                <td class="left">{{ data.date  }}</td>
                                <td>{{ data.program }}</td>
                                <td>{{ data.event }}</td>
                                <td>{{ data.staff }}</td>
                                <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                                <td>{{ data.notes }}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn">
                        <td class="left">{{ data.date  }}</td>
                        <td>{{ data.program }}</td>
                        <td>{{ data.event }}</td>
                        <td>{{ data.staff }}</td>
                        <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                        <td>{{ data.notes }}</td>
                    </tr>
                </ng-container>
            
            
               
            </tbody>
        </nz-table>

    </div>
</div>