<div nz-row>
    <div nz-col nzOffset="1">
        <button class="botton success" (click)="save()" [disabled]="!othersForm?.dirty">Save Changes</button>           
    </div>
</div>
<div nz-row [formGroup]="othersForm">   

    <nz-divider nzText="General Activation Information" nzOrientation="left"></nz-divider>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Type: </span>
            <nz-select formControlName="type" >
                <nz-option *ngFor="let type of types" [nzValue]="type" [nzLabel]="type"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="12" class="layer2">
            <span>Company/Organisation </span>
            <label nz-checkbox formControlName="companyFlag"></label>

        </div>
    </div>


    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Last Activation Date: </span>
            <nz-date-picker formControlName="admissionDate" [nzFormat]="dateFormat"></nz-date-picker>
        </div>
        <div nz-col nzSpan="12" class="layer2">
            <span>Enable Autocreation Rosters </span>
            <label nz-checkbox formControlName="excludeFromRosterCopy"></label>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Activated By: </span>
            <nz-select formControlName="admissionDate" nzDisabled>
                <nz-option *ngFor="let type of types" [nzValue]="type" [nzLabel]="type"></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Admitting Branch: </span>
            <nz-select formControlName="branch">
                <nz-option *ngFor="let branch of branches" [nzValue]="branch" [nzLabel]="branch"></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Coordinator: </span>
            <nz-select formControlName="recipient_Coordinator" >
                <nz-option *ngFor="let case of casemanagers" [nzValue]="case" [nzLabel]="case"></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Main Support Worker: </span>
            <nz-select formControlName="mainSupportWorker" >
                <nz-option *ngFor="let staff of staffs" [nzValue]="staff" [nzLabel]="staff"></nz-option>
              </nz-select>
        </div>
    </div>
</div>

<div nz-row style="margin-top:2rem">   
    <nz-divider nzText="General De-Activation Information" nzOrientation="left"></nz-divider>

    <div nz-row>
        <div nz-col nzSpan="12" class="layer2">
            <span>Last Made Inactive On: </span>
            <input type="text" nz-input nzSize="small">
        </div>
    </div>

</div>

<div nz-row style="margin-top:2rem">   
    <nz-divider nzText="MISC Demographic Information" nzOrientation="left"></nz-divider>
    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Occupation: </span>
            <nz-select formControlName="occupation">
                <nz-option [nzLabel]="occupationDefault" [nzValue]="occupationDefault"></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Financial Classification: </span>
            <nz-select formControlName="financialClass">
                <nz-option [nzLabel]="occupationDefault" [nzValue]="occupationDefault" nzHide></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Roster Alerts: </span>
            <label nz-checkbox formControlName="acceptsReferrals"></label>
        </div>
    </div>

    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Generates Referrals: </span>
            <label nz-checkbox formControlName="generatesReferrals"></label>
        </div>
    </div>


</div>