<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">Add Reminder</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Alert/Review</th>
                    <th>Reminder Date</th>
                    <th>Due Date</th>
                    <th>Notes</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.name  }}</td>
                    <td>{{ data.date1 | date: 'dd/MM/y'}}</td>
                    <td>{{ data.date2 | date: 'dd/MM/y' }}</td>
                    <td>{{ data.notes || '-' }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add Reminder' : 'Edit Reminder'" (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">Reminders</nz-form-label>
                <nz-form-control nzErrorTip="Reminders is required!">
                    <nz-select formControlName="staffAlert" nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of alist" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="12">
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Reminder Date</label>
                <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Due Date</label>
                <nz-date-picker formControlName="dueDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row [nzGutter]="12">
            <div nz-col nzSpan="5" class="form-group">
                <label for="">Recurring</label>
                <label style="margin: 10px;" nz-checkbox formControlName="recurring"></label>
            </div>
            <div nz-col nzOffset="3" nzSpan="8">
                <nz-form-item style="margin: 0 0 1px">
                    <nz-form-label [nzNoColon]="true">Recurring Every</nz-form-label>
                    <nz-form-control nzErrorTip="Every Recurring is required!">
                        <nz-select formControlName="recurrInt" nzAllowClear nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let d of dayInt" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item style="margin: 0 0 1px">
                    <nz-form-label [nzNoColon]="true"></nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="recurrStr" nzAllowClear nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let d of dayStr" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzOffset="8" nzSpan="16">
                <label nz-checkbox formControlName="sameDay">On Same Day of Month</label>
            </div>
            <div nz-col nzOffset="8" nzSpan="16">
                <label nz-checkbox formControlName="sameDate">On Same Date of Month</label>
            </div>
        </div>
        <div nz-row [nzGutter]="12">
            <div nz-col nzSpan="8" class="form-group">
                <label for="">List Order</label>
                <input nz-input formControlName="listOrder" />
            </div>
            <div nz-col nzSpan="16" class="form-group">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">Follow-up Email</nz-form-label>
                    <nz-form-control nzErrorTip="Enter a valid email address!">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="followUpEmail" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div class="form-group">
                <label for="">Notes</label>
                <textarea rows="4" nz-input formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">Save</button>
    </div>
</nz-modal>