<div>
   <div nz-row>
       <div nz-col>
            <div nz-row>
                <div nz-col>
                    <input nz-input placeholder="Recipient Search.." [(ngModel)]="value" />
                </div>
            </div>  
            <div nz-row>
                <ul>
                    <li *ngFor="let member of members;let i = index" [class.selected]="i == selectedIndex" (click)="toProfile(member, i)">{{ member.accountNo }}</li>
                </ul>
            </div>
       </div>    
   </div>
</div>