<div>
   <div nz-row>
       <div nz-col>
            <div nz-row>
                <div nz-col>
                    <input nz-input placeholder="Recipient Search.." [ngModel]="search" (ngModelChange)="textChanges.next($event)" />
                </div>

                <div class="switch-container">
                    <nz-switch nzSize="small" [(ngModel)]="switchValue" (ngModelChange)="switchChange($event)"></nz-switch> Show All Recipients
                </div>
            </div>  
            <div nz-row>
                <ul *ngIf="!loading">
                    <li *ngFor="let member of members;let i = index" [class.selected]="i == selectedIndex" (click)="toProfile(member, i)">
                        {{ i + 1 + ')&nbsp;&nbsp;&nbsp;' + member.accountNo }}
                    </li>
                </ul>
                <nz-spin *ngIf="loading" nzSimple></nz-spin>
            </div>
       </div>    
   </div>
</div>