<ng-container *ngIf="!isAdmin">
    <div class="space-top" style="margin:3rem 0">
        <div class="form-group">
            <!-- <label for="" class="info">Profile Information</label> -->
            <div class="edit-btn">
                <div class="right-btns">
                    <button *ngIf="showMailManagerBtn" (click)="emailManager()" nz-button nzType="default"><i nz-icon
                            nzType="mail" nzTheme="outline"></i> EMAIL Manager</button>
                    <button nz-button nzType="primary" nzValue="small" (click)="editProfileOpen()"><i nz-icon style="color:#fff" nzType="edit"
                            nzTheme="outline"></i> Edit Profile</button>
                </div>
            </div>
            <div class="space-top">
                <div nz-row>
                    <div class="avatar-container" [class.alert-show]="showUpload" (mouseover)="showUpload=true"
                        (mouseleave)="showUpload=false">
                        <img *ngIf="showAvatar == false" [src]="imgSrc" alt="" (error)="errorUrl($event)">
                        <nz-avatar *ngIf="showAvatar == true"  [nzShape]="'square'" [nzSize]="64" nzIcon="user"></nz-avatar>
                    
                        <div class="prof-alert" (click)="changeProfilePicture()">
                            <i class="material-icons"> photo_camera </i>
                            Upload
                        </div>
                    </div>
                    <div class="form-group">
                        <h3>{{ user?.uniqueID || '-' }}</h3>
                        <h2 class="highlight">{{ user?.title }} {{ user?.firstName }} {{ user?.middleNames }} {{ user?.lastName || user?.surnameOrg  }}<span
                                *ngIf="user?.preferredName" style="color:#8c928e">({{ user?.preferredName }})</span></h2>
                    </div>
                </div>                
                <div nz-row nzGutter="16">
                    <div nz-col nzSpan="4">
                        <div class="form-group">
                            <label class="highlight"><i nz-icon class="icon" nzType="calendar" nzTheme="outline"></i> Birthdate</label>
                            <span *ngIf="innerValue?.view === view.recipient">{{ user?.dateOfBirth | date: 'dd / MM / yyyy' || '-' }}</span>
                            <span *ngIf="innerValue?.view === view.staff">{{ user?.dob | date: 'dd / MM / yyyy' || '-' }}</span>
                        </div>
                    </div>
                    <div nz-col nzSpan="4">
                        <div class="form-group">
                            <label class="highlight"><i nz-icon class="icon" nzType="woman" nzTheme="outline"></i> Gender</label>
                            <span>{{ user?.gender }}</span>
                        </div>
                    </div>
                    <div nz-col nzSpan="4">
                        <div class="form-group">
                            <label class="highlight"><i nz-icon class="icon" nzType="alert" nzTheme="outline"></i> Case Manager</label>
                            <span>{{ user?.recipient_Coordinator || '-' }}</span>
                        </div>
                    </div>
                </div>
                <!-- <nz-descriptions [nzSize]="'small'" [nzColumn]="{ xxl: 4, xl: 4, lg: 4, md: 4, sm: 2, xs: 1 }"
                    [nzColon]="false" nzTitle="" nzLayout="vertical">
                    <nz-descriptions-item nzTitle="Title"><b>{{ user?.title || '-' }}</b></nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Lastname">
                        <b *ngIf="innerValue?.view === view.recipient">{{ user?.surnameOrg || '-' }}</b>
                        <b *ngIf="innerValue?.view === view.staff">{{ user?.lastName || '-' }}</b>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Firstname"><b>{{ user?.firstName || '-' }}</b></nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Middlename"><b>{{ user?.middleNames || '-' }}</b></nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Gender"><b>{{ user?.gender || '-' }}</b></nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Birthdate">
                        <b *ngIf="innerValue?.view === view.recipient">{{ user?.dateOfBirth | date }}</b>
                        <b *ngIf="innerValue?.view === view.staff">{{ user?.dob | date }}</b>
                    </nz-descriptions-item>
                    <nz-descriptions-item *ngIf="innerValue?.view === view.recipient" nzTitle="Case Manager">
                        <b>{{ user?.recipient_Coordinator || '-' }}</b>
                    </nz-descriptions-item>
                </nz-descriptions> -->
            </div>
        </div>
    </div>

    <div class="space-top">
        <div class="form-group">
            <label for="" class="info"><i class="material-icons icon"> location_on </i> Address Information</label>
            <div class="edit-btn">
                <div class="right-btns">
                    <button nz-button nzType="default" nzValue="small" (click)="addAddressOpen()" class="right"><i nz-icon
                            nzType="plus" nzTheme="outline"></i> Add Address</button>
                </div>
            </div>
            <ul style="width: 50%;">
                <li *ngFor="let data of user?.addresses">
                    <div class="options">
                        <i nz-icon nzType="edit" nzTooltipTitle="Update" nz-tooltip nzTooltipPlacement="top" nzTheme="outline"
                            class="neutral" (click)="editAddressOpen(data)"></i>
                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top"
                            nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Are you sure delete this address?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(1,data)" (nzOnCancel)="cancel(1)"></i>
                    </div>
                    <div>{{ data.postCode }} {{ data.address1 }}, {{ data.suburb}}</div>
                    <b>{{ data.description }}</b>
                </li>
            </ul>
            <!-- <nz-table #basicTable [nzData]="user?.addresses" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Suburb</th>
                        <th>Postcode</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.description }}</td>
                        <td>{{ data.address1 }}</td>
                        <td>{{ data.suburb }}</td>
                        <td>{{ data.postCode }}</td>
                        <td>
                            <a (click)="editAddressOpen(data)">Edit</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this address?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(1,data)"
                                (nzOnCancel)="cancel(1)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table> -->
        </div>
    
        <div class="form-group space-top">
            <label for="" class="info"><i class="material-icons icon"> phone </i> Contact Information</label>
            <div class="edit-btn">
                <div class="right-btns">
                    <button nz-button nzType="default" nzValue="small" (click)="addContactOpen()" class="right"><i nz-icon
                            nzType="plus" nzTheme="outline"></i> Add Contact</button>
                </div>
            </div>
            <!-- <nz-table #contactTable [nzData]="user?.contacts" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of contactTable.data">
                        <td>{{ data.type }}</td>
                        <td>{{ data.detail }}</td>
                        <td>
                            <a (click)="editContactOpen(data)">Edit</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this contact?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(2, data)"
                                (nzOnCancel)="cancel(2)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table> -->
            <ul style="width: 50%;">
                <li *ngFor="let data of user?.contacts">
                    <div class="options">
                        <i nz-icon nzType="edit" nzTooltipTitle="Update" (click)="editContactOpen(data)" nz-tooltip
                            nzTooltipPlacement="top" nzTheme="outline" class="neutral"></i>
                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top"
                            nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Are you sure delete this contact?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(2, data)" (nzOnCancel)="cancel(2)"></i>
                    </div>
                    <div>{{ data.detail }}</div>
                    <b>{{ data.type }}</b>
                </li>
            </ul>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="isAdmin">
    <div nz-row style="margin-top:2rem" nzGutter="16">

        <ng-container *ngIf="this.innerValue?.view == 'staff'">
            <div nz-col nzSpan="12">
                <div nz-row class="divider">
                    <i nz-icon nzType="edit" nzTheme="outline" (click)="profileStaffModal = true;patchTheseValuesInForm()"></i>
                    <div nz-row>
                        <div class="avatar-container" [class.alert-show]="showUpload" (mouseover)="showUpload=true" (mouseleave)="showUpload=false">
                            <img *ngIf="showAvatar == false" [src]="imgSrc" alt="" (error)="errorUrl($event)">
                            <nz-avatar *ngIf="showAvatar == true" [nzShape]="'square'" [nzSize]="64" nzIcon="user"></nz-avatar>

                            <div class="prof-alert" (click)="changeProfilePicture()">
                                <i class="material-icons"> photo_camera </i>
                                Upload
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>{{ user?.uniqueID || '-' }}</h3>
                            <h2 class="highlight">{{ user?.title }} {{ user?.firstName }} {{ user?.middleNames }} {{ user?.lastName }}<span *ngIf="user?.preferredName" style="color:#8c928e">({{ user?.preferredName }})</span></h2>
                        </div>
                    </div>
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <label class="highlight"><i nz-icon nzType="calendar" nzTheme="outline"></i> Birthdate</label>
                                <span>{{ user?.dob | date: 'dd / MM / yyyy' || '-' }}</span>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <label class="highlight"><i nz-icon nzType="woman" nzTheme="outline"></i> Gender</label>
                                <span>{{ user?.gender }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div nz-row nzGutter="16">                        
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <label class="highlight"><i nz-icon nzType="calendar" nzTheme="outline"></i> Birthdate</label>
                                <span>{{ user?.dob | date: 'dd / MM / yyyy' || '-' }}</span>
                            </div>
                        </div>
                    </div> -->
                    <hr>
                    <div nz-row *ngIf="staffrecordview && staffrecordview[16] == '1'">
                        <div class="form-group">
                            <div>
                                <label class="highlight"><i class="material-icons"> location_on </i>Address </label>
                                <i nz-icon nzType="plus" nzTooltipTitle="Add Address" (click)="addAddressOpen()" nz-tooltip nzTooltipPlacement="top" nzTheme="outline"
                                    class="good add"></i>
                            </div>                           
                            <ul>
                                <li *ngFor="let data of user?.addresses">
                                    <div class="options">
                                        <i nz-icon nzType="edit" nzTooltipTitle="Update" nz-tooltip nzTooltipPlacement="top" nzTheme="outline" class="neutral" (click)="editAddressOpen(data)"></i>
                                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top" nzTheme="outline"  nz-popconfirm nzPopconfirmTitle="Are you sure delete this address?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(1,data)"
                                    (nzOnCancel)="cancel(1)"></i>                                        
                                    </div>
                                    <div>{{ data.postCode }} {{ data.address1 }}, {{ data.suburb}}</div>
                                    <b>{{ data.description }}</b>
                                </li>
                                <li *ngIf="user?.addresses?.length == 0">
                                    <nz-alert nzType="warning" nzMessage="No Addresses" nzShowIcon></nz-alert>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div nz-row *ngIf="staffrecordview && staffrecordview[17] == '1' ">
                        <div class="form-group">
                            <div>
                                <label class="highlight"><i class="material-icons"> phone </i>Contacts</label>
                                <i nz-icon nzType="plus" nzTooltipTitle="Add Contact" (click)="addContactOpen()" nz-tooltip nzTooltipPlacement="top" nzTheme="outline"
                                    class="good add"></i>
                            </div>
                            <ul>
                                <li *ngFor="let data of user?.contacts">
                                    <div class="options">
                                        <i nz-icon nzType="edit" nzTooltipTitle="Update" (click)="editContactOpen(data)" nz-tooltip nzTooltipPlacement="top" nzTheme="outline" class="neutral"></i>
                                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top"
                                            nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Are you sure delete this contact?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(2, data)"
                                    (nzOnCancel)="cancel(2)"></i>
                                    </div>
                                    <div>{{ data.detail }}</div>
                                    <b>{{ data.type }}</b>
                                </li>
                                <li *ngIf="user?.contacts?.length == 0">
                                    <nz-alert nzType="warning" nzMessage="No Contacts" nzShowIcon></nz-alert>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                
            </div>
            
            <div nz-col nzSpan="12">
                <div nz-row class="divider sec-highlight">
                    <i nz-icon nzType="edit" nzTheme="outline" (click)="profileStaffOptionsModal=true;patchTheseValuesInForm()"></i>
                    <nz-descriptions nzLayout="vertical" [nzColon]="false" [nzColumn]=2 *ngIf="user">
                        <nz-descriptions-item nzTitle="Type">{{ user?.category || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Staff #">{{ user?.stf_Code || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Branch/Department">{{ user?.stf_Department || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Job Category">{{ user?.staffGroup || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Admin Category">{{ user?.subCategory || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Team/Area">{{ user?.staffTeam || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Coordinator/Manager">{{ user?.pan_Manager || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Service Region">{{ user?.serviceRegion || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Grid #">{{ user?.ubdMap || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Driver's License">{{ user?.dLicence || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="MV Reg">{{ user?.vRegistration || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Rating">
                            <nz-rate [ngModel]="user?.rating" [nzCount]="7" nzDisabled></nz-rate>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="N Registration #">{{ user?.nRegistration || '-' }}</nz-descriptions-item>
                    </nz-descriptions>
                </div>

                <div nz-row class="divider sec-highlight">
                
                    <i nz-icon nzType="edit" nzTheme="outline"
                        (click)="profileStaffPreferredModal = true;patchTheseValuesInForm();"></i>
                    <div nz-col nzSpan="11" *ngIf="staffrecordview && staffrecordview[15] == '1'">
                        <nz-descriptions nzLayout="vertical" [nzColon]="false" [nzColumn]=1>
                            <nz-descriptions-item nzTitle="Preferred Availability/Notes">
                                <textarea rows="4" style="height: 174px; width: 13rem;" nz-input [ngModel]="user?.contactIssues"
                                    readonly></textarea>
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                    <div nz-col nzSpan="13">
                        <nz-descriptions nzLayout="vertical" [nzColon]="false" [nzColumn]=1>
                            <nz-descriptions-item nzTitle="Cald Status">{{ user?.caldStatus || '-' }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Indigenous Status">{{ user?.cstda_Indiginous || '-' }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Primary Disability">{{ user?.cstda_DisabilityGroup || '-' }}
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                </div>
                
            </div>
        </ng-container>

        <ng-container *ngIf="this.innerValue?.view == 'recipient' ">
            <div nz-col nzSpan="12">
                <div nz-row class="divider">
                    <i nz-icon nzType="edit" nzTheme="outline" (click)="profileStaffModal = true;patchTheseValuesInForm()"></i>
  
                    <div nz-row>
                        <div class="avatar-container" [class.alert-show]="showUpload" (mouseover)="showUpload=true"
                            (mouseleave)="showUpload=false">
                            <img *ngIf="showAvatar == false" [src]="imgSrc" alt="" (error)="errorUrl($event)">
                            <nz-avatar *ngIf="showAvatar == true" [nzShape]="'square'" [nzSize]="64" nzIcon="user"></nz-avatar>
                        
                            <div class="prof-alert" (click)="changeProfilePicture()">
                                <i class="material-icons"> photo_camera </i>
                                Upload
                            </div>                          
                        </div>
                        <div class="form-group">
                            <h3>{{ user?.uniqueID || '-' }}</h3>
                            <h2 class="highlight">{{ user?.title }} {{ user?.firstName }} {{ user?.middleNames }} {{ user?.surnameOrg }}<span *ngIf="user?.preferredName" style="color:#8c928e">({{ user?.preferredName }})</span></h2>
                        </div>
                    </div>

                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <label class="highlight"><i nz-icon nzType="woman" nzTheme="outline"></i> Gender</label>
                                <span>{{ (user?.gender) ? user?.gender : '*'  }}</span>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <label class="highlight"><i nz-icon nzType="calendar" nzTheme="outline"></i> Birthdate</label>
                                <span>{{ (user?.dateOfBirth) ? (user?.dateOfBirth | date: 'dd / MM / yyyy') : '*'}}</span>
                            </div>
                        </div>
                    </div>

                    <div nz-row>
                        <div class="form-group">
                            <div>
                                <label class="highlight"><i class="material-icons"> location_on </i>Address</label>
                                <i nz-icon nzType="plus" nzTooltipTitle="Add Address" (click)="addAddressOpen()" nz-tooltip nzTooltipPlacement="top"
                                    nzTheme="outline" class="good add"></i>
                            </div>
                            <ul>
                                <li *ngFor="let data of user?.addresses">
                                    <div class="options">
                                        <i nz-icon nzType="edit" nzTooltipTitle="Update" nz-tooltip nzTooltipPlacement="top" nzTheme="outline"
                                            class="neutral" (click)="editAddressOpen(data)"></i>
                                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top"
                                            nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Are you sure delete this address?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(1,data)" (nzOnCancel)="cancel(1)"></i>
                                    </div>
                                    <div>{{ data.postCode }} {{ data.address1 }}, {{ data.suburb}}</div>
                                    <b>{{ data.description }}</b>
                                </li>
                                <li *ngIf="user?.addresses?.length == 0">
                                    <nz-alert nzType="warning" nzMessage="No Addresses" nzShowIcon></nz-alert>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                    <div nz-row>
                        <div class="form-group">
                            <div>
                                <label class="highlight"><i class="material-icons"> phone </i>Contacts</label>
                                <i nz-icon nzType="plus" nzTooltipTitle="Add Contact" (click)="addContactOpen()" nz-tooltip nzTooltipPlacement="top"
                                    nzTheme="outline" class="good add"></i>
                            </div>
                            <ul>
                                <li *ngFor="let data of user?.contacts">
                                    <div class="options">
                                        <i nz-icon nzType="edit" nzTooltipTitle="Update" (click)="editContactOpen(data)" nz-tooltip nzTooltipPlacement="top"
                                            nzTheme="outline" class="neutral"></i>
                                        <i nz-icon nzType="delete" class="neutral" nz-tooltip nzTooltipTitle="Delete" nzTooltipPlacement="top"
                                            nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Are you sure delete this contact?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(2, data)" (nzOnCancel)="cancel(2)"></i>
                                    </div>
                                    <div>{{ data.detail }}</div>
                                    <b>{{ data.type }}</b>
                                </li>
                                <li *ngIf="user?.contacts?.length == 0">
                                    <nz-alert nzType="warning" nzMessage="No Contacts" nzShowIcon></nz-alert>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>               
            </div>
            <div nz-col nzSpan="12">
                <div nz-row class="divider sec-highlight">
                    <i nz-icon nzType="edit" nzTheme="outline" (click)="profileRecipientOptionsModal=true;patchTheseValuesInForm()"></i>
                    <nz-descriptions nzLayout="vertical" [nzColon]="false" [nzColumn]=2 *ngIf="user">
                        <nz-descriptions-item nzTitle="File #1">{{ user?.agencyIdReportingCode || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="File #2">{{ user?.urNumber || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Admitting Branch">{{ user?.branch || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Service Region/Main Category">{{ user?.agencyDefinedGroup || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Sub Category">{{ user?.ubdMap || '-' }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Primary Case Manager">{{ user?.recipient_Coordinator || '-' }}</nz-descriptions-item>                       
                    </nz-descriptions>
                </div>

                <div nz-row class="divider sec-highlight">
                    <button class="botton success" (click)="saveTab()">Save</button>
                    <nz-tabset (nzSelectedIndexChange)="tabChange($event)" [nzSelectedIndex]="tabIndex">
                        <nz-tab nzTitle="Contact Issues" [formGroup]="contactIssueGroup">
                            <textarea rows="4" nz-input type="text" formControlName="value"></textarea>
                        </nz-tab>
                        <nz-tab nzTitle="Roster Alerts" [formGroup]="contactIssueGroup">
                            <textarea rows="4" nz-input type="text" formControlName="value"></textarea>
                        </nz-tab>
                        <nz-tab nzTitle="Runsheet Alerts" [formGroup]="contactIssueGroup">
                            <textarea rows="4" nz-input type="text" formControlName="value"></textarea>
                        </nz-tab>
                    </nz-tabset>
                </div>

                <div nz-row class="divider">
                    <button class="botton success">Add Case Staff</button>
                </div>

            </div>
        </ng-container>

    </div>

    <div nz-row *ngIf="!isAdmin">
        <div class="space-top">
            <div class="form-group">
                <label for="" class="info">Address Information</label>
                <div class="edit-btn">
                    <div class="right-btns">
                        <button nz-button nzType="default" nzValue="small" (click)="addAddressOpen()" class="right"><i nz-icon
                                nzType="plus" nzTheme="outline"></i> Add Address</button>
                    </div>
                </div>
                <nz-table #basicTable [nzData]="user?.addresses" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Address</th>
                            <th>Suburb</th>
                            <th>Postcode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>{{ data.description }}</td>
                            <td>{{ data.address1 }}</td>
                            <td>{{ data.suburb }}</td>
                            <td>{{ data.postCode }}</td>
                            <td>
                                <a (click)="editAddressOpen(data)">Edit</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this address?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(1,data)"
                                    (nzOnCancel)="cancel(1)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        
            <div class="form-group space-top">
                <label for="" class="info">Contact Information</label>
                <div class="edit-btn">
                    <div class="right-btns">
                        <button nz-button nzType="default" nzValue="small" (click)="addContactOpen()" class="right"><i nz-icon
                                nzType="plus" nzTheme="outline"></i> Add Contact</button>
                    </div>
                </div>
                <nz-table #contactTable [nzData]="user?.contacts" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of contactTable.data">
                            <td>{{ data.type }}</td>
                            <td>{{ data.detail }}</td>
                            <td>
                                <a (click)="editContactOpen(data)">Edit</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this contact?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(2, data)"
                                    (nzOnCancel)="cancel(2)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</ng-container>










 <nz-modal [(nzVisible)]="profileStaffModal" [nzStyle]="{ top: '20px' }" nzTitle="Update Profile" (nzOnCancel)="handleCancel()">

    <div nz-row nzGutter="16" [formGroup]="userForm">
        <div nz-row>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Preferred Name</label>
                    <input nz-input type="text" formControlName="preferredName">
                </div>
            </div>
        </div>
        <div nz-row nzGutter="16">

            <div nz-col  class="form-group" nzSpan="8">
                <label for="">Lastname</label>
                <input nz-input type="text" formControlName="surnameOrg">
            </div>

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Firstname</label>
                <input nz-input type="text" formControlName="firstName">
            </div>
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Middlename</label>
                <input nz-input type="text" formControlName="middleNames">
            </div>

        </div>
        <div nz-row nzGutter="16">
          
                <div nz-col class="form-group" nzSpan="8">
                    <label for="">Title</label>
                    <nz-select nzAllowClear nzPlaceHolder="" formControlName="title">
                        <nz-option *ngFor="let title of titles" [nzValue]="title" [nzLabel]="title">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col class="form-group" nzSpan="8">
                    <label for="">Gender</label>
                    <nz-select formControlName="gender" nzAllowClear nzPlaceHolder="">
                        <nz-option *ngFor="let gender of genderArr" [nzValue]="gender" [nzLabel]="gender">
                        </nz-option>
                    </nz-select>
                </div>
        
        </div>
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="24" class="form-group">
                <label for="">Birthdate</label>
                <div nz-col nzSpan="6">
                    <nz-select nzAllowClear nzPlaceHolder="" formControlName="year">
                        <nz-option *ngFor="let year of years" [nzValue]="year" [nzLabel]="year">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="7">
                    <nz-select nzAllowClear nzPlaceHolder="" formControlName="month">
                        <nz-option *ngFor="let month of months" [nzValue]="month" [nzLabel]="month">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="4">
                    <nz-select nzAllowClear nzPlaceHolder="" formControlName="day">
                        <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="loading"  (click)="saveProfile()">Save</button>
    </div>

</nz-modal>

<nz-modal [(nzVisible)]="profileStaffPreferredModal" [nzStyle]="{ top: '20px' }" nzTitle="Update Profile Options"
    (nzOnCancel)="handleCancel()">

    <div nz-row nzGutter="16" [formGroup]="userForm">

        <div nz-row nzGutter="16">
            <div nz-col class="form-group" nzSpan="24">
                <label for="">Cald Status</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="caldStatus">
                    <nz-option *ngFor="let list of caldStatuses" [nzValue]="list" [nzLabel]="list">
                    </nz-option>
                </nz-select>
            </div>

            <div nz-col class="form-group" nzSpan="24">
                <label for="">Indigenous Status</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="indigStatus">
                    <nz-option *ngFor="let list of dropDowns?.indigenousArr" [nzValue]="list" [nzLabel]="list">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col class="form-group" nzSpan="24">
                <label for="">Primary Disability</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="primaryDisability">
                    <nz-option *ngFor="let title of dropDowns?.disabilitiesArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col class="form-group" nzSpan="24">
                <label for="">Preferred Availability / Notes</label>
                <textarea rows="4" nz-input type="text" formControlName="note"></textarea>
            </div>
           
        </div>
        

    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveNotes()">Save</button>
    </div>

</nz-modal>

<nz-modal [(nzVisible)]="profileRecipientOptionsModal" [nzStyle]="{ top: '20px' }" nzTitle="Update Profile Options"
    [nzWidth]="960" (nzOnCancel)="handleCancel()">

    <div nz-row nzGutter="16" [formGroup]="userForm">

        <div nz-row nzGutter="16">
            <div nz-col class="form-group" nzSpan="8">
                <label for="">File #1</label>
                <input nz-input type="text" formControlName="file1">
            </div>

            <div nz-col class="form-group" nzSpan="8">
                <label for="">File #2</label>
                <input nz-input type="text" formControlName="file2">
            </div>
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Sub Category</label>
                <input nz-input type="text" formControlName="subCategory">
            </div>
        </div>

        <div nz-row nzGutter="16">

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Admitting Branch</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="branch">
                    <nz-option *ngFor="let title of dropDowns?.branchesArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Service Region/Main Category</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="serviceRegion">
                    <nz-option *ngFor="let title of dropDowns?.serviceRegionArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Primary Case Manager</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="casemanager">
                    <nz-option *ngFor="let title of dropDowns?.managerArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveProfile()">Save</button>
    </div>

</nz-modal>


<nz-modal [(nzVisible)]="profileStaffOptionsModal" [nzStyle]="{ top: '20px' }" nzTitle="Update Profile Options" [nzWidth]="960"
    (nzOnCancel)="handleCancel()">

    <div nz-row nzGutter="16" [formGroup]="userForm">
        <div nz-row nzGutter="16">
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Type</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="type">
                    <nz-option *ngFor="let list of typesArr" [nzValue]="list" [nzLabel]="list">
                    </nz-option>
                </nz-select>
            </div>
            
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Branch</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="stf_Department">
                    <nz-option *ngFor="let list of dropDowns?.branchesArr" [nzValue]="list" [nzLabel]="list">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Job Category</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="jobCategory">
                    <nz-option *ngFor="let title of dropDowns?.jobCategoryArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row nzGutter="16">

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Admin Category</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="adminCategory">
                    <nz-option *ngFor="let title of dropDowns?.adminCategoryArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Team/Area</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="team">
                    <nz-option *ngFor="let title of dropDowns?.teamArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col class="form-group" nzSpan="8">
                <label for="">Coordinator/Manager</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="casemanager">
                    <nz-option *ngFor="let title of dropDowns?.managerArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row nzGutter="16">

            <div nz-col class="form-group" nzSpan="8">
                <label for="">Service Region</label>
                <nz-select nzAllowClear nzPlaceHolder="" formControlName="serviceRegion">
                    <nz-option *ngFor="let title of dropDowns?.serviceRegionArr" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>

        </div>
        <div nz-row nzGutter="16">           
            <div nz-col class="form-group" nzSpan="6">
                <label for="">Grid No</label>
                <input nz-input type="text" formControlName="gridNo">
            </div>

            <div nz-col class="form-group" nzSpan="6">
                <label for="">Drivers License</label>
                <input nz-input type="text" formControlName="dLicense">
            </div>

            <div nz-col class="form-group" nzSpan="6">
                <label for="">Has Caseload</label>
                <label nz-checkbox formControlName="isCaseLoad"></label>
            </div>

            <div nz-col class="form-group" nzSpan="6">
                <label for="">Is Rosterable</label>
                <label nz-checkbox formControlName="isRosterable"></label>
            </div>
        </div>

        <div nz-row nzGutter="16">
            <div nz-col class="form-group" nzSpan="6">
                <label for="">MV Registration</label>
                <input nz-input type="text" formControlName="mvReg">
            </div>
            <div nz-col class="form-group" nzSpan="6">
                <label for="">N Registration</label>
                <input nz-input type="text" formControlName="nReg">
            </div>
            <div nz-col class="form-group" nzSpan="6">
                <label for="">Email Timesheet</label>
                <label nz-checkbox formControlName="isEmail"></label>
            </div>
            <div nz-col class="form-group" nzSpan="6">
                <label for="">Star Rating</label>
                <nz-rate formControlName="rating" [nzCount]="7"></nz-rate>
            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveProfile()">Save</button>
    </div>

</nz-modal>



<nz-modal [(nzVisible)]="emailManagerOpen" nzTitle="Email Manager" [nzFooter]="modalFooter" (nzOnCancel)="emailManagerOpen = false">
   <div>
       <div *ngIf="emailManagerNoEmailShowNotif">
            <div nz-row nzGutter="16" [formGroup]="emailCoordinatorGroup">
                <div nz-col nzSpan="24" class="form-group">
                    <nz-form-item>
                        <nz-form-label>Subject</nz-form-label>
                        <nz-form-control nzErrorTip="Subject is required!">
                            <input nz-input type="text" formControlName="subject">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" class="form-group">
                    <nz-form-item>
                        <nz-form-label>Body</nz-form-label>
                        <nz-form-control nzErrorTip="Body is required!">
                            <textarea rows="4" nz-input type="text" formControlName="content"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
       </div>
        <nz-tag *ngIf="!emailManagerNoEmailShowNotif" [nzColor]="'magenta'">Your manager has no valid email!</nz-tag>
   </div>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="emailManagerOpen = false">Cancel</button>
        <button nz-button nzType="primary" (click)="sendMail()">Send</button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="editModalOpen" [nzTitle]="window == 1 ? 'Edit Address': 'Edit Contact'"
    [nzFooter]="editModalFooter" (nzOnCancel)="handleCancel()">
    <div>

        <div nz-row nzGutter="16" *ngIf="window == 1" [formGroup]="addressForm">
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Description</label>
                <nz-select formControlName="description" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let address of addressArray" [nzValue]="address" [nzLabel]="address">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Postcode & Suburb</label>
                <suburb formControlName="pcodesuburb"></suburb>
            </div>
            <div nz-col nzSpan="24" class="form-group">
                <label for="">Address</label>
                <input nz-input type="text" formControlName="address">
            </div>
        </div>

        <div *ngIf="window == 2" [formGroup]="contactForm">
            <div class="form-group">
                <label for="">Contact Type</label>
                <nz-select formControlName="type" nzAllowClear nzPlaceHolder="" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let contact of contactsArray" [nzValue]="contact" [nzLabel]="contact">
                    </nz-option>
                </nz-select>
            </div>
            <div class="form-group">
                <label for="">Details</label>
                <input nz-input type="text" formControlName="details">
            </div>
        </div>

    </div>

    <ng-template #editModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Close</button>
        <button nz-button nzType="primary" (click)="edit()" [nzLoading]="loading">Save</button>
    </ng-template>
</nz-modal>


<nz-drawer [nzVisible]="editProfileDrawer" [nzMaskClosable]="false" [nzWidth]="640" (nzOnClose)="closeDrawer()"
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }">
    <p class="title" style=" margin-bottom: 24px;">User Profile</p>

    <div [formGroup]="userForm">
        <div class="form-row" nz-row nzGutter="16">
            <div nz-col nzSpan="4" class="form-group">
                <label for="">Title</label>
                <nz-select class="title" formControlName="title" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let title of titles" [nzValue]="title" [nzLabel]="title">
                    </nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-row" nz-row nzGutter="16">
            <div nz-col nzSpan="5" class="form-group">
                <label for="">Gender</label>
                <nz-select class="title" formControlName="gender" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let gender of genderArr" [nzValue]="gender" [nzLabel]="gender">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="15" class="form-group">
                <label for="">Birthdate</label>
                <div nz-row nzGutter="16">
                    <div nz-col nzSpan="9">
                        <nz-select class="title" formControlName="month" nzAllowClear nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let month of months" [nzValue]="month" [nzLabel]="month">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-select class="title" formControlName="day" nzAllowClear nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-select class="title" formControlName="year" nzAllowClear nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let year of years" [nzValue]="year" [nzLabel]="year">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row" nz-row nzGutter="16">
            <div nz-col nzSpan="8" class="form-group">
                <label for="">Lastname</label>
                <input type="text" formControlName="surnameOrg" nz-input autocomplete="palong">
            </div>
            <div nz-col nzSpan="8" class="form-group">
                <label for="">Firstname</label>
                <input type="text" formControlName="firstName" nz-input autocomplete="palong">
            </div>
            <div nz-col nzSpan="8" class="form-group">
                <label for="">Middlename</label>
                <input type="text" formControlName="middleNames" nz-input autocomplete="palong">
            </div>
        </div>

    </div>

    <div class="footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" nz-button (click)="editProfile()" [nzLoading]="loading"
            class="ant-btn ant-btn-primary"><span>Save</span></button>
    </div>
</nz-drawer>

<nz-drawer [nzVisible]="addAddressDrawer" [nzMaskClosable]="false" [nzWidth]="640" (nzOnClose)="closeDrawer()"
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }">
    <p class="title" style=" margin-bottom: 24px;">Add Address Information</p>

    <form nz-row nzGutter="16" nz-form [nzLayout]="'vertical'" [formGroup]="addressForm">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Description</nz-form-label>
                <nz-form-control nzErrorTip="Description is required!">
                    <nz-select formControlName="description" nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let address of addressArray" [nzValue]="address" [nzLabel]="address">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Suburb</nz-form-label>
                <nz-form-control nzErrorTip="Suburb is required!">
                    <suburb formControlName="pcodesuburb"></suburb>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Address</nz-form-label>
                <nz-form-control nzErrorTip="Address is required!">
                    <input nz-input type="text" formControlName="address">
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>

    <div class="footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" nz-button [nzLoading]="loading" (click)="addAddress()"
            class="ant-btn ant-btn-primary"><span>Save</span></button>
    </div>
</nz-drawer>

<nz-drawer [nzVisible]="addContactDrawer" [nzMaskClosable]="false" [nzWidth]="420" (nzOnClose)="closeDrawer()"
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }">
    <p class="title" style=" margin-bottom: 24px;">Add Contact Information</p>

    <form nz-row nzGutter="16" nz-form [nzLayout]="'vertical'" [formGroup]="contactForm">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Contact Type</nz-form-label>
                <nz-form-control nzErrorTip="Contact Type is required!">
                    <nz-select formControlName="type" nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let contact of contactsArray" [nzValue]="contact" [nzLabel]="contact">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Details</nz-form-label>
                <nz-form-control nzErrorTip="Contact Details is required!">
                    <input nz-input type="text" formControlName="details">
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>

    <div class="footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" nz-button (click)="addContact()" [nzLoading]="loading"
            class="ant-btn ant-btn-primary"><span>Save</span></button>
    </div>
</nz-drawer>

<nz-modal [(nzVisible)]="changeProfilePictureModal" nzTitle="Update Profile Picture" (nzOnCancel)="handleCancel()">
    <div *ngIf="changeProfilePictureModal">
        <app-image-cropper [src]="src" [role]="innerValue.view" [id]="innerValue.id" (imgBLOB)="imgBLOB($event)"></app-image-cropper>
        <input type="file" id="file" (change)="uploadChange($event)">
        <div><label for="file" class="upload-pic">Browse Directory</label></div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="uploadPicture()" [nzLoading]="loadPhoto">Upload</button>
    </div>
</nz-modal>