 nz-select {
    margin-right: 8px;
    width: 200px;
}
.ant-form-item{
    margin:0;
}
.avatar-container{
    float: left;
    margin-right: 1rem;   
}
.form-group label.info{
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    background: #46535f;
    padding: 5px;
    border-radius: 3px;
    margin:0;
}
h2{
    margin-bottom:2rem;
}
h3{
    color: #828282;
}
nz-table{
    margin-top:15px;
}
a:hover{
    text-decoration: underline;
}
.edit-btn{
    height:3rem;
}
.right-btns{
    float: right;
    margin: 10px;
}
.right-btns > *{
    margin-left:10px;
}
nz-select{
    width:100%;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
}
.form-row > div.form-group{
    margin-bottom:3rem;
}

nz-descriptions >>> div table tbody tr:nth-child(odd) td span{
    font-weight: 500;
}

.divider{
    padding: 1rem;
    border-bottom: 1px solid beige;
    margin-bottom:1rem;
}
.divider > i{
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 1.1rem;
    cursor:pointer;
    color:#979797;
    z-index:5;
}
.divider > i:hover{
    color:#383838;
}
.form-group i{
    float: left;
    margin-top: 4px;
    margin-right: 1rem;
    font-size: 14px;
    color: #215097;
}
.form-group span{
    margin-left: 2rem;
}
ul{
    list-style:none;
}
ul li{
    margin-top:15px;
}
ul li b{
    color: #7FC4FD;
    font-size:11px;
}
.highlight{
    font-weight:600;
}
.options{
    float:right;
}
.options i{
    cursor:pointer;
}
.add{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    color: #fff !important;
    background: #56db79;
    padding: 2px;
    cursor:pointer;
}