<div class="mediabar__title">
    <button nz-button nzType="default" (click)="isVisible = true" *ngIf="isAdmin"> Upload Media</button>
</div>
<ul>
    <li *ngFor="let media of mediaList;let i = index">
        <article>
            <time>{{ media.startDate }}</time>
            <div class="article">
                <h4>{{ media.mediaDisplay }}</h4>
                <div>
                    <ng-container *ngIf="(media.type).split('/')[1] == 'jpeg' || (media.type).split('/')[1] == 'png'">
                        <div>
                            <img src="{{ media.url }}" class="img-media" onerror="this.src='assets/logo/noimage.jpg'" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="(media.type).split('/')[1] == 'mp4' || (media.type).split('/')[1] == 'mp3'">
                        <div class="video-container">
                            <video controls (click)="toggleVideo()" #videoPlayer>
                                <source [src]="media.url || ''" />
                                Browser not supported
                            </video>
                        </div>
                    </ng-container>
                </div>
                <div>
                    {{ media.mediaText }}
                </div>
            </div>
        </article>
    </li>
</ul>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Upload Media" (nzOnCancel)="handleCancel()">
    <div>

        <div class="form-group">
            <input nz-input placeholder="Media Title" [(ngModel)]="title" />
        </div>

        <div class="form-group">
            <nz-select [(ngModel)]="group" nzAllowClear nzPlaceHolder="Media Group">
                <nz-option *ngFor="let group of groupList" [nzValue]="group" [nzLabel]="group"></nz-option>
            </nz-select>
        </div>

        <div class="form-group">
            <nz-upload
                nzType="drag"
                [nzMultiple]="false"
                [(nzFileList)]="fileList"
                [nzBeforeUpload]="beforeUpload"
                [nzLimit]="1"
                >
                    <p class="ant-upload-drag-icon">
                        <i nz-icon nzType="inbox"></i>
                    </p>
                    <p class="ant-upload-text">Click or drag file to this area to upload</p>
                    <p class="ant-upload-hint">
                    Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
                </p>
            </nz-upload>
        </div>

        <div class="form-group">
            <textarea rows="4" nz-input placeholder="Media Description" [(ngModel)]="description"></textarea>
        </div>

        

    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleUpload()" >Save</button>
      </div>

  </nz-modal>