<div nz-row>
    <div nz-col>
        <button class="botton success" (click)="showAddModal()">Services</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Title</th>
                    <th class="left">Roaster Group</th>
                    <th class="left">Sub Group</th>
                    <th class="left">DataSet</th>
                    <th class="left">DataSet Code</th>
                    <th class="left">Outlet ID</th>
                    <th class="left">DataSet Group</th>
                    <th class="left">NDIA ID</th>
                    <th class="left">Accounting Code</th>
                    <th class="left">Bill Amount</th>
                    <th class="left">Bill Unit</th>
                    <th class="left">End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                    
                    <td class="left">{{data.title}}</td>
                    <td class="left">{{data.rosterGroup}}</td>
                    <td class="left">{{data.subGroup}}</td>
                    <td class="left">{{data.dataset}}</td>
                    <td class="left">{{data.detasetCode}}</td>
                    <td class="left">{{data.outletID}}</td>
                    <td class="left">{{data.datasetGroup}}</td>
                    <td class="left">{{data.ndiaid}}</td>
                    <td class="left">{{data.accountingCode}}</td>
                    <td class="left">{{data.billAmount}}</td>
                    <td class="left">{{data.billUnit}}</td>
                    <td class="left">{{data.endDate}}</td>
                    <td class="left"><a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-modal [nzWidth]="900" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <div class="flexy">
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical" style="width:20%">
                <nz-step class="mini" nzTitle="General" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="DataSet" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Pricing & 3rd Party Accounting Info" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Act. 1" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Act. 2" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Programs" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="MTA Alerts" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Comp" nzDescription=""></nz-step>
            </nz-steps>
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
            <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
                <div *ngIf="current == 0">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <h2 style="color:#1890FF;">Item/Activity Details</h2>
                        </div>
                        <div nz-col nzSpan="24">
                        <nz-divider nzText="Item Details" nzOrientation="left"></nz-divider>
                        </div>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <div nz-col nzSpan="24" class="mrg-btm">
                                <div class="mrg-btm" nz-col nzSpan="24">
                                    <input nz-input placeholder="Title"  formControlName="title" />
                                </div>
                                <div class="" nz-col nzSpan="24">
                                    <textarea rows="2" nz-input placeholder="Billing Text" formControlName="billingText"></textarea>
                                </div>
                            </div>
                            <nz-divider nzOrientation="left" style="margin:10px 0px;"></nz-divider>
                            <div nz-col nzSpan="18" class="mrg-btm">    
                                <div class="mrg-btm" nz-col nzSpan="24">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="mainGroup" nzPlaceHolder="Main Group" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let main of mainGroupList" [nzLabel]="main" [nzValue]="main"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="mrg-btm" nz-col nzSpan="24">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="subgroup" nzPlaceHolder="Sub Group" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub" [nzValue]="sub"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="mrg-btm" nz-col nzSpan="24">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="status" nzPlaceHolder="Status" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let st of status" [nzLabel]="st" [nzValue]="st"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="mrg-btm" nz-col nzSpan="12">
                                    <input nz-input placeholder="Charge Rate 1"  formControlName="chargeRate1" />
                                </div>
                                <div class="mrg-btm" nz-col nzSpan="12">
                                    <input nz-input placeholder="Minimum Charge Charge Rate"  formControlName="minimumChargeRate" />
                                </div>
                                <div nz-col nzSpan="12" class="mrg-btm">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="unit" nzPlaceHolder="Unit" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let unit of units" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="lifeCycleEvent" nzPlaceHolder="Life Cycle Event" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let clycle of lifeCycleList" [nzLabel]="clycle.description" [nzValue]="clycle.description"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="budgetGroup" nzPlaceHolder="Budget Group" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let budget of budgetGroupList" [nzLabel]="budget.description" [nzValue]="budget.description"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="dicipline" nzPlaceHolder="Dicipline" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="12" class="mrg-btm">
                                    <input nz-input placeholder="Color Code"  formControlName="colorCode" />
                                </div>
                            </div>
                            <nz-divider nzText="TimeSheet Treatment" nzOrientation="left"></nz-divider>
                            <div nz-col nzSpan="18" class="mrg-btm">
                                <div nz-col nzSpan="24">
                                    <label nz-checkbox  formControlName="AutoApprove">Auto Approve</label>
                                </div>
                                <div nz-col nzSpan="24">
                                    <label nz-checkbox  formControlName="excludeFromAuto">EXCLUDE FROM Auto Approve</label>
                                </div>
                                <div nz-col nzSpan="24">
                                    <label nz-checkbox  formControlName="Informational">Informational Only</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 1">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <h2 style="color:#1890FF;">DataSet & Other Reporting Definations</h2>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-divider nzText="DataSet Mapping" nzOrientation="left"></nz-divider>
                    </div>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <div nz-col nzSpan="12" class="mrg-btm">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="datasetMapping" nzPlaceHolder="DataSet" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="12" class="mrg-btm" style="display:none;">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="datasetMapping" nzPlaceHolder="DataSet" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="mrg-btm">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="groupMapping" nzPlaceHolder="Group" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="mrg-btm">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="typeMapping" nzPlaceHolder="Types"  nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                </nz-select>
                            </div>
                        </div>    
                    </div>
                </div>
                <div *ngIf="current == 2">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <h2 style="color:#1890FF;">Accounting & Pricing Details</h2>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-divider nzText="3rd Party Accounting Gl & Other Information" nzOrientation="left"></nz-divider>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Accounting Code : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Gl Revenue Account 1: </label>
                        </div>
                        <div nz-col nzSpan="8">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                        <div nz-col nzSpan="2">
                            <label for=""> 2: </label>
                        </div>
                        <div nz-col nzSpan="6">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">GL Cost Account : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Budget U.O.M : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="typeMapping"  nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Budget Unit Cost : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">CDC/NDIA Group: </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="typeMapping" nzPlaceHolder="Type" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="6">
                            <label for="">Exclude From Export: </label>
                        </div>
                        <div nz-col nzSpan="2">
                            <label nz-checkbox  class="mrg-btm"></label>
                        </div>
                        <div nz-col nzSpan="12">
                            Exclude From Usage And Package Statement :
                        </div>
                        <div nz-col nzSpan="2">
                            <label nz-checkbox  formControlName="day1"> </label>
                        </div>
                    </div>
                    <div nz-col nzSpan="22">
                        <nz-divider nzText="Pricing Information" nzOrientation="left"></nz-divider>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Commercial : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder=""  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Level 1 : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder="$0.00"  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Level 2 : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder="$0.00"  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Level 3 : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder="$0.00"  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Level 4 : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder="$0.00"  formControlName="title" />
                        </div>
                    </div>
                    <div nz-row nzGutter=22 class="mrg-btm">
                        <div nz-col nzSpan="8">
                            <label for="">Level 5 : </label>
                        </div>
                        <div nz-col nzSpan="16">
                            <input nz-col nzSpan="16" nz-input placeholder="$0.00"  formControlName="title" />
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 3">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <h2 style="color:#1890FF;">Roaster Action</h2>
                        </div>
                        <div nz-col nzSpan="24">
                            <nz-divider nzText="Roaster Restrictions" nzOrientation="left"></nz-divider>
                        </div>
                    </div>
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="22" class="mrg-btm">
                             <div class="mrg-btm" nz-col nzSpan="24">
                                    <label for="Can Only Be Roasted" class="mrg-btm">Can Only Be Roasted:</label> 
                                    Mon <label nz-checkbox  formControlName="day1"></label>
                                    Tue <label nz-checkbox  formControlName="day2"></label>
                                    Wed <label nz-checkbox  formControlName="day3"></label>
                                    Thu <label nz-checkbox  formControlName="day4"></label>
                                    Fri <label nz-checkbox  formControlName="day5"></label>
                                    Sat <label nz-checkbox  formControlName="day6"></label>
                                    Sun <label nz-checkbox  formControlName="day7"></label>
                                    Pub Hol <label nz-checkbox  formControlName="day0"></label>
                            </div>
                            <div nz-row nzSpan="24">
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="4">
                                        <label>Between</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="branch" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub.description" [nzValue]="sub.description"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">AND</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="branch" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub.description" [nzValue]="sub.description"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="4">
                                        <label>Min Duration</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <input nz-input placeholder="" nz-value="0" formControlName="min" />
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">Max Duration</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <input nz-input placeholder="" nz-value="0" formControlName="max" />
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">Roasted Time</label>
                                    </div>
                                    <div nz-col nzSpan="4"> 
                                        <input nz-input placeholder="" nz-value="0" formControlName="forceRostedTime" />
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="6">
                                        Cannot Change:
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <div>
                                            <label nz-checkbox formControlName="rostedDay">Rosted Day</label>
                                        </div>
                                        <div>
                                            <label nz-checkbox formControlName="rostedTime">Rosted Time</label>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    
                                    <div nz-col nzSpan="8">
                                        <span>Time Must Be withIn:</span>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <input nz-input placeholder="" nz-value="0" formControlName="orignalminute" />
                                    </div>
                                    <div nz-col nzSpan="8" style="text-align: center;">
                                        <span>Minutes of Orignal Start</span>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                        <div nz-col nzSpan="24">
                        <nz-divider nzText="Recipient Phone and address Treatment" nzOrientation="left"></nz-divider>
                        
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <label nz-checkbox  formControlName="day1"> : Auto Complete Recipient Phone and Address in Roster Notes </label>
                        </div>
                        </div>
                        <div nz-col nzSpan="24">
                                <div nz-col nzSpan="6">
                                    <label for="">Address To Include: </label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="branch" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub.description" [nzValue]="sub.description"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label for=""> Phone To Include: </label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="branch" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub.description" [nzValue]="sub.description"></nz-option>
                                    </nz-select>
                                </div>
                        </div>
                        <div nz-col nzGutter=24>
                        <nz-divider nzText="Auto Shift Notes/Instructions" nzOrientation="left"></nz-divider>
                        
                        <div nz-col nzGutter=24 class="">
                            <div nz-col nzSpan="11">
                                <label for="">Auto Display Notes After Service Creation: </label>
                            </div>
                            <div nz-col nzSpan="2">
                                <label nz-checkbox></label>
                            </div>
                            <div nz-col nzSpan="9">
                                Prompt For Job Sheet Print :
                            </div>
                            <div nz-col nzSpan="2">
                                <label nz-checkbox  formControlName="day1"> </label>
                            </div>
                        </div>
                        <div class="" nz-col nzSpan="24">
                            <textarea rows="4" nz-input placeholder="Billing Text" formControlName="branch"></textarea>
                        </div>
                    </div>
                    </div>
                </div>
                <div *nzModalFooter>
                    <ng-container>
                        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                            <span>Previous</span>
                        </button>
                        <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" >
                            <span>Next</span>
                        </button>
                        <!-- *ngIf="current === 3" -->
                        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                            <span>SAVE</span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </nz-modal>