/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css"; /* Import styles of the component */

/* Angular Calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Bootstrap CSS Only*/
/* @import "../node_modules/bootstrap-css-only/css/bootstrap.min.css"; */

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

/* @import "../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin"; */

.uppercase{
    text-transform: uppercase;
}

td, th{
    font-size:13px;
}

.mrg-btm{
    margin-bottom:1rem;
}

.mrg-btm-2{
    margin-bottom:2rem;
}

.space-top{
    margin-top:1rem;
}

div > label{
    margin-bottom:4px;
    display:block;
}

.form-wrap label{
    font-weight: 500;
}

div.item{
    margin-bottom:7px;
    font-size: 13px;
}

div.item div{
    font-size:15px;
    color:#0d76c2;
}
div.button-actions button{
    margin-right: 10px;
}

div.form-group label{
    font-size: 14px;
}

div.form-group{
    margin-bottom:15px;
}

nz-select, nz-date-picker {
    min-width: 100px;
}

nz-form-label.ant-form-item-label{
    line-height:24px;
}
nz-form-item.ant-form-item{
    margin: 0 0 15px;
}
.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

td a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error{
    color:#ff1515 !important;
    
}
.good{
    color:#56db79 !important;
}

.neutral{ 
    color:#7FC4FD !important;
}

.items li.ant-menu-submenu .ant-menu-submenu-title{    
    line-height: 30px;
    font-size: 12px;
}
.items li.ant-menu-submenu .ant-menu-submenu-title i{
    top:14px;
}
nz-header{
    height: 50px !important;
}
nz-breadcrumb{
    margin: 5px 0 !important;
}

.botton{
    border:none;
    cursor:pointer;
    outline:none;
    transition: background-color 0.5s ease;
    padding: 3px 7px;
    border-radius: 3px;
}
.botton:disabled{
    color: rgba(0,0,0,.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    cursor:not-allowed;
}
button.success{
    background: #87d068;
    color: #fff;    
}
button.success:not(:disabled):hover{
    background:#68a94d;
}

.flexy{
    display:flex;
}

nz-divider.full-height.ant-divider-vertical{
    height: auto;
    margin:0 1rem;
}

nz-step.mini .ant-steps-item-container > .ant-steps-item-content *{
    font-size:13px !important;
}

.space-top-2{
    margin-top: 2rem;
}

.word-break{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

nz-table{
    margin-top:20px;
}

th.action{
    width: 7.5rem !important;
}

.boxy{
    border: 1px solid #ededed;
    padding: 5px;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 10px;
}